{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:20">Back</a>
{% endblock %}

{% block content %}
{% include "includes/layouts/personaldetails.html" %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="../../case-overview" method="post" novalidate>




          

          <h1 class="govuk-heading-l govuk-!-margin-top-6">
            Enter outcome of
            {% if (data.user=="admin") %}
            CAS-2 application
            {% else %}
            Approved Premises application
            {% endif %}
          </h1>
          
          <div class="govuk-form-group govuk-!-margin-top-6">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <!--<h1 class="govuk-fieldset__heading">
                  Enter the outcome of this person’s application 
                </h1>-->
              </legend>
              <div class="govuk-radios" data-module="govuk-radios" style="margin-top: -20px;">
                {% if (data.user=="admin") %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ShorttermAccommodationOutcome" name="ShorttermAccommodationOutcome" type="radio" value="accepted">
                  <label class="govuk-label govuk-radios__label" for="ShorttermAccommodationOutcome">
                    CAS-2 Accepted 
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ShorttermAccommodationOutcome-2" name="ShorttermAccommodationOutcome" type="radio" value="rejected">
                  <label class="govuk-label govuk-radios__label" for="ShorttermAccommodationOutcome-2">
                    CAS-2 Rejected
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ShorttermAccommodationOutcome-3" name="ShorttermAccommodationOutcome" type="radio" value="withdrawn">
                  <label class="govuk-label govuk-radios__label" for="ShorttermAccommodationOutcome-3">
                    CAS-2 Withdrawn
                  </label>
                </div>
                {% else %}
                <div class="govuk-radios__item">
                  {% if data.ApprovedPremisesOutcome=="accepted" %}
                  <input class="govuk-radios__input" id="ApprovedPremisesOutcome" name="ApprovedPremisesOutcome" type="radio" value="accepted" checked>
                  {% else %}
                  <input class="govuk-radios__input" id="ApprovedPremisesOutcome" name="ApprovedPremisesOutcome" type="radio" value="accepted">
                  {% endif %}
                  <label class="govuk-label govuk-radios__label" for="ApprovedPremisesOutcome">
                    Accepted
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ApprovedPremisesOutcome-2" name="ApprovedPremisesOutcome" type="radio" value="rejected">
                  <label class="govuk-label govuk-radios__label" for="ApprovedPremisesOutcome-2">
                    Rejected
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ApprovedPremisesOutcome-3" name="ApprovedPremisesOutcome" type="radio" value="withdrawn">
                  <label class="govuk-label govuk-radios__label" for="ApprovedPremisesOutcome-3">
                    Withdrawn
                  </label>
                </div>
                {% endif %}
              </div>
            </fieldset>
          </div>


          <!--<div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
         
            <div class="govuk-form-group govuk-!-margin-top-4">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  Enter the address of the accommodation
                </legend>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-line-1">
                    Address line 1
                  </label>
                  <input class="govuk-input" id="address-line-1" name="addressLine1" type="text" autocomplete="address-line1">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-line-2">
                    Address line 2 (optional)
                  </label>
                  <input class="govuk-input" id="address-line-2" name="addressLine2" type="text" autocomplete="address-line2">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-town">
                    Town or city
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-postcode">
                    Postcode
                  </label>
                  <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" autocomplete="postal-code">
                </div>
              </fieldset>
            </div>

            </div>
            </div>-->



            <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Save
              </button>
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Cancel
              </button>
            </div>

        </form>


      </div>
    </div>
  </main>
</div>
{% endblock %}
