{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<div class="govuk-width-container govuk-!-margin-top-8">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #d4351c;">
          <h1 class="govuk-panel__title">
            Eligibility and suitability checks complete
          </h1>
          <div class="govuk-panel__body">
            <img style="width:6%; padding-right: 5px;" src="/public/images/icons/icon-grid-125x125_cross_white.svg"/>Presumed unsuitable for HDC
          </div>
        </div>

        <h2 class="govuk-heading-m" style="margin-top: 30px;">Eligibility and suitability decision</h2>

        <p class="govuk-body">George Jennings is presumed unsuitable for HDC because:</p>

        <div class="govuk-inset-text">
          They are are serving a sentence for an offence for one of these categories of offence:</br>

          <ul class="govuk-list govuk-list--bullet" style="margin-top: 10px; margin-bottom: 10px;">
            <li>Homicide</li>
            <li>Explosives</li>
            <li>Possession of an offensive weapon</li>
            <li>Possession of firearms with intent</li>
            <li>Cruelty to children</li>
            <li>Racially aggravated offences</li>
            <li>Stalking, harassment and other offences linked to domestic abuse</li>
            <li>Terrorist offences not described in section 247A(2) of the Criminal Justice Act 2003</li>
          </ul>

        </div>

       
        <h2 class="govuk-heading-m">Next steps</h2>

        <p class="govuk-body">
          Download the following letter to tell George the outcome of the assessment.
          They can still make representations if they think there are exceptional circumstances that mean they should be released on HDC.

          <p class="govuk-body"><a class="govuk-link" href="#">
            <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
              <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z" />
            </svg>
            Home detention curfew: presumed unsuitable
          </a>
          </p>

        </p>

        <!--FIX INTERACTION-->

        <form class="form" action="../case-list" method="post" novalidate>

        <input type="hidden" name="presumedunsuitableHDC" value="yes">

        <div class="govuk-button-group" style="margin-top: 40px;">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Return to case list
          </button>

          <a href="./tasklist.html" class="govuk-button govuk-button--secondary">Back to assessment</a></br>

        </div>

    


        </form>


        <p class="govuk-body" style="margin-top: 50px; margin-bottom: -50px;">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
