{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-static-margin-top-6">Enter details of approved premises</h1>

    
      <p class="govuk-body">It is the Probation Service’s responsibility to make a referral to approved premises.</p>

      <p class="govuk-body">Once you have the address of the approved premises, you can enter it here.</p>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading"></h1>
          </legend>
      
      
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                  Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
                </label>
                <input class="govuk-input" {%if (data.address1) %}
                  value="{{data.address1}}" {% endif %} id="address-line-1" name="address1" type="text" autocomplete="address-line1"></div>
      
                <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-2">
                  <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                </label>
                <input class="govuk-input" {%if (data.address2) %}
                  value="{{data.address2}}" {% endif %} id="address-line-2" name="address2" type="text" autocomplete="address-line2"></div>
      
                <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" {%if (data.addresstown) %}
                  value="{{data.addresstown}}" {% endif %} id="address-town" name="addresstown" type="text" autocomplete="address-level2"></div>
      
                <div class="govuk-form-group">
                <label class="govuk-label" for="address-county">
                  County (optional)
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" {%if (data.addresscounty) %}
                  value="{{data.addresscounty}}" {% endif %} id="address-county" name="addresscounty" type="text"></div>
      
                <div class="govuk-form-group">
                <label class="govuk-label" for="address-postcode">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" {%if (data.addresspostcode) %}
                  value="{{data.addresspostcode}}" {% endif %} id="address-postcode" name="addresspostcode" type="text" autocomplete="postal-code">
                </div><br>
      
              </fieldset>
          </div>

        </div>
      </div>
     


      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </button>
      </div>


      </div>
    </div>
  </main>
</div>

{% endblock %}
