{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l govuk-!-margin-top-8">Address information from George</h1>


<!--Second address start-->

<!--card start-->
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Second address
    </h2>
  </div>
  
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          49 Hill Street</br>
          Grantham</br>
          N1J 5NB
        </dt>
      </div>
  
  
    </dl>
  </div>
  
  </div>
  <!--card end-->

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      This address has been checked before. <a class="govuk-link govuk-link--no-visited-state" href="#">View history</a>
    </strong>
  </div>

  <h3 class="govuk-heading-s govuk-!-margin-top-8">Details of residents</h3>

<!--card start-->
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Main occupier
    </h2>
  </div>
  
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Leanna Martin
        </dt>
        <dd class="govuk-summary-list__value">
          Mother
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#"></a>
        </dd>
      </div>
  
    </dl>
  </div>
  
  </div>
  <!--card end-->

<!--card start-->
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Other residents
    </h2>
  </div>
  
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Greg Martin
        </dt>
        <dd class="govuk-summary-list__value">
          Brother
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#"></a>
        </dd>
      </div>
  
    </dl>
  </div>
  
  </div>
  <!--card end-->


  <h4 class="govuk-heading-s govuk-!-margin-top-8">Offending history at this address</h4>

  <!--
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">
        Has George given details of convictions or cautions relating to this address?
      </dd>
      <dt class="govuk-summary-list__key">
        The prisoner has said that he was convicted for a burglary with his neighbour.
      </dt>
      <dd class="govuk-summary-list__actions">
      </dd>
    </div>  
  </dl>
-->


<!--card start-->
<div class="govuk-summary-card">

<div class="govuk-summary-card__title-wrapper">
<h2 class="govuk-summary-card__title">
Details of convictions or cautions
</h2>
</div>

<div class="govuk-summary-card__content">
<dl class="govuk-summary-list">

<div class="govuk-summary-list__row">
<dd class="govuk-summary-list__value">
  The prisoner has said that he was convicted for a burglary with his neighbour.
</dd>
</div>

</dl>
</div>

</div>
<!--card end-->


<div class="govuk-button-group">
<a href="occupier-check" class="govuk-button">Continue</a>
<a href="../tasklist" class="govuk-button govuk-button--secondary">Back</a>
</div>


<!--Second address end-->


      </div>
    </div>
  </main>
</div>

{% endblock %}
