{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:20">Back</a>
{% endblock %}

{% block content %}
{% include "includes/layouts/personaldetails.html" %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <body class="govuk-template__body">
          <script>
            document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
          </script>
        
          <div class="govuk-width-container">
            <main class="govuk-main-wrapper" id="main-content">
             
                <h1 class="govuk-heading-l govuk-!-margin-top-6">Find an address</h1>

                <form action="postcode-lookup-results" method="post" novalidate>

                
                <!--<div class="moj-search">
              
                    <div class="govuk-form-group">
                      <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="event-name">
                        Type an address or postcode
                      </label>
                
                      <div id="search-hint" class="govuk-hint moj-search__hint ">
                        You can search by name, date of birth or national insurance number
                      </div>
                
                      <input class="govuk-input moj-search__input " name="eventName" type="text" id="query" type="search">
                
                    </div>
                
                    <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
                      Search
                    </button>
                
                </div>-->


                <div class="moj-search">

                  <div class="govuk-form-group">
        
                      <label class="govuk-label govuk-label--s" for="event-name">Type an address or postcode</label>
      
                      <input class="govuk-input" name="eventName" type="text" id="query" type="search" style="width: 300px;">

                  </div>

                    <button id="submit" type="submit" class="govuk-button" data-module="govuk-button" style="margin-top: 30px; margin-left: 10px;">Search</button>

                </div>


        
        
               <!---<div class="govuk-form-group">
                  <span class="govuk-visually-hidden"><fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                          Select the lookup type
                        </h1>
                      </legend>
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="find" name="resource" type="radio" value="find">
                          <label class="govuk-label govuk-radios__label" for="find">
                            Find
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="postcode" name="resource" type="radio" value="postcode" checked="checked">
                          <label class="govuk-label govuk-radios__label" for="postcode">
                            Postcode
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="uprn" name="resource" type="radio" value="uprn">
                          <label class="govuk-label govuk-radios__label" for="uprn">
                            UPRN
                          </label>
                        </div>
                      </div>
                    </fieldset></span>
                  </div>
        
                  <div class="govuk-form-group">
                    <span class="govuk-visually-hidden"><fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                          Select the dataset type
                        </h1>
                      </legend>
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="dataset" name="dataset" type="radio" value="dpa" checked="checked">
                          <label class="govuk-label govuk-radios__label" for="dpa">
                            DPA
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="dataset" name="dataset" type="radio" value="lpi">
                          <label class="govuk-label govuk-radios__label" for="lpi">
                            LPI
                          </label>
                        </div>
                      </div>
                    </fieldset></span>
                  </div>
        
                <span class="govuk-visually-hidden"><input id="minmatch" class="govuk-input" type="number" name="minmatch" min="0.1" max="1.0" step="0.1" value="0.8" title="Minimum Match Score"></span>
                
                
        
                <div class="loader"></div>
                
                <div class="govuk-form-group">
                    <label class="govuk-label" for="more-detail">Address search result</label>
                    <select class="govuk-textarea" id="results" name="results" rows="5" aria-describedby="more-detail-hint" multiple></select>
                </div>


                <p class="govuk-body govuk-!-margin-bottom-80"><a href="manual-entry.html" class="govuk-link govuk-link--no-visited-state">Enter address manually</a></p>-->

  
{% if (data.postcodelookup=="two") %}
  <!--If they have provided 2 addresses, say if this is their preferred or second address-->
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading govuk-!-margin-top-4">
          Set address preference 
        </h1>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england" checked>
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Preferred address
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Second address
          </label>
        </div>
      </div>
    </fieldset>
  </div>
{% endif %}

  

  
  <!--<button type="submit" class="govuk-button" data-module="govuk-button">
    Confirm address
  </button>-->


  <!--<div class="govuk-form-group" style="margin-top: 100px; margin-bottom:-100px">
    <p>Not part of the design
    <input class="govuk-input" name="eventName" type="text" id="apikey" type="text" placeholder="Add API Token" style="margin-top: 10px;"></p>
  </div>

  </form>-->

  <!--end of ui-->



                <form>
                  <span class="govuk-visually-hidden"><fieldset>
                        <label class="govuk-label" for="more-detail">Address</label>
                        <input class="govuk-input" name="eventName" type="text" id="_addr1" type="text" placeholder="Address Line 1">
                        <input class="govuk-input" name="eventName" type="text" id="_addr2" type="text" placeholder="Address Line 2">
                        <input class="govuk-input" name="eventName" type="text" id="_addr3" type="text" placeholder="Address Line 3">
                        <input class="govuk-input" name="eventName" type="text" id="_addr4" type="text" placeholder="Address Line 4">
                        <input class="govuk-input" name="eventName" type="text" id="_locality" type="hidden" type="text" placeholder="Locality">
                        <input class="govuk-input" name="eventName" type="text" id="_town" type="text" placeholder="Town">
                        <input class="govuk-input" name="eventName" type="text" id="_admin" type="text" placeholder="Administrative Area">
                        <input class="govuk-input" name="eventName" type="text" id="_postcode" type="text" placeholder="Postcode">
                        <button id="copy" type="submit" class="govuk-button" data-module="govuk-button">Copy</button>
                    </fieldset></span>
                </form>
        
                <span class="govuk-visually-hidden"><textarea type="text" class="hidden"></textarea></span>
        
                <span class="govuk-visually-hidden"><table></table></span>
                
                <span class="govuk-visually-hidden"><div id="uri"></div></span>
                
                <script>
                
                    // Define an empty JSON object to temporarily store the matched results.
                    let oJson = {};
                
                    // Define DPA and LPI field names (used to populate table structure).
                    const fields = {
                        'DPA': [
                            'UPRN',
                            'UDPRN',
                            'ADDRESS',
                            'DEPARTMENT_NAME',
                            'ORGANISATION_NAME',
                            'SUB_BUILDING_NAME',
                            'BUILDING_NAME',
                            'BUILDING_NUMBER',
                            'PO_BOX_NUMBER',
                            'DEPENDENT_THOROUGHFARE_NAME',
                            'THOROUGHFARE_NAME',
                            'DOUBLE_DEPENDENT_LOCALITY',
                            'DEPENDENT_LOCALITY',
                            'POST_TOWN',
                            'POSTCODE',
                            'RPC',
                            'X_COORDINATE',
                            'Y_COORDINATE',
                            'LNG',
                            'LAT',
                            'STATUS',
                            'LOGICAL_STATUS_CODE',
                            'CLASSIFICATION_CODE',
                            'CLASSIFICATION_CODE_DESCRIPTION',
                            'LOCAL_CUSTODIAN_CODE',
                            'LOCAL_CUSTODIAN_CODE_DESCRIPTION',
                            'COUNTRY_CODE',
                            'COUNTRY_CODE_DESCRIPTION',
                            'POSTAL_ADDRESS_CODE',
                            'POSTAL_ADDRESS_CODE_DESCRIPTION',
                            'BLPU_STATE_CODE',
                            'BLPU_STATE_CODE_DESCRIPTION',
                            'TOPOGRAPHY_LAYER_TOID',
                            'LAST_UPDATE_DATE',
                            'ENTRY_DATE',
                            'BLPU_STATE_DATE',
                            'LANGUAGE',
                            'MATCH',
                            'MATCH_DESCRIPTION',
                            'DELIVERY_POINT_SUFFIX'
                        ],
                        'LPI': [
                            'UPRN',
                            'ADDRESS',
                            'USRN',
                            'LPI_KEY',
                            'ORGANISATION',
                            'SAO_TEXT',
                            'SAO_START_NUMBER',
                            'SAO_START_SUFFIX',
                            'SAO_END_NUMBER',
                            'SAO_END_SUFFIX',
                            'PAO_TEXT',
                            'PAO_START_NUMBER',
                            'PAO_START_SUFFIX',
                            'PAO_END_NUMBER',
                            'PAO_END_SUFFIX',
                            'STREET_DESCRIPTION',
                            'LOCALITY',
                            'TOWN_NAME',
                            'ADMINISTRATIVE_AREA',
                            'POSTCODE_LOCATOR',
                            'RPC',
                            'X_COORDINATE',
                            'Y_COORDINATE',
                            'LNG',
                            'LAT',
                            'STATUS',
                            'LOGICAL_STATUS_CODE',
                            'CLASSIFICATION_CODE',
                            'CLASSIFICATION_CODE_DESCRIPTION',
                            'LOCAL_CUSTODIAN_CODE',
                            'LOCAL_CUSTODIAN_CODE_DESCRIPTION',
                            'COUNTRY_CODE',
                            'COUNTRY_CODE_DESCRIPTION',
                            'POSTAL_ADDRESS_CODE',
                            'POSTAL_ADDRESS_CODE_DESCRIPTION',
                            'BLPU_STATE_CODE_DESCRIPTION',
                            'TOPOGRAPHY_LAYER_TOID',
                            'PARENT_UPRN',
                            'LAST_UPDATE_DATE',
                            'ENTRY_DATE',
                            'STREET_STATE_CODE',
                            'STREET_STATE_CODE_DESCRIPTION',
                            'LPI_LOGICAL_STATUS_CODE',
                            'LPI_LOGICAL_STATUS_CODE_DESCRIPTION',
                            'LANGUAGE',
                            'MATCH',
                            'MATCH_DESCRIPTION'
                        ]
                    };
                
                    initialiseTable(fields.DPA);
                
                    // Add an 'onclick' handler for the radio buttons.
                    const radios = document.getElementsByName('resource');
                    for( let i in radios ) {
                        radios[i].onclick = function() {
                            let isDisabled = this.value !== 'find' ? true : false;
                            document.getElementById('minmatch').disabled = isDisabled;
                        }
                    }
                
                    // Add a 'change' handler for the minmatch values (inclusive 0.1 - 1.0).
                    const minMatch = document.getElementById('minmatch');
                    minMatch.addEventListener('change', function() {
                        if( this.value < 0.1 ) this.value = this.min;
                        else if( this.value >= 1 ) this.value = this.max;
                    });
                
                    // Add an event listener to handle when the user clicks the 'Submit' button.
                    const btnSubmit = document.getElementById('submit');
                    btnSubmit.addEventListener('click', getFeatures);
                
                    // Add an event listener to handle when the user clicks the 'Copy' button.
                    const btnCopy= document.getElementById('copy');
                    btnCopy.addEventListener('click', copyToClipboard);
                
                    // Define a [global scope] variable for the <textarea>.
                    const textarea = document.getElementsByTagName('textarea')[0];
                
                    // Define a [global scope] variable for the loader.
                    const loader = document.getElementsByClassName('loader')[0];
                
                    // Add an 'onchange' handler for the results drop-down list.
                    const selResults = document.getElementById('results');
                    selResults.onchange = function() {
                        let selectedValue = this.options[this.selectedIndex].value;
                        let type = oJson[ selectedValue ].hasOwnProperty('DPA') ? 'DPA' : 'LPI';
                        let result = oJson[ selectedValue ][ type ];
                
                        // Clear the form.
                        let elements = document.querySelectorAll("form input[type='text']");
                        elements.forEach(o => o.value = '');
                
                        // Clear the <textarea> contents.
                        textarea.value = '';
                
                        // The following is based on the rules for generating multi-line addresses which are
                        // documented in Chapter 11 of the AddressBase Premium Getting Started Guide:
                        // https://www.ordnancesurvey.co.uk/documents/product-support/getting-started/addressbase-premium-addressbase-premium-island-getting-started-guide.pdf
                
                        // Define an empty address array variable.
                        let arrAddrLine = [];
                
                        if( type == 'DPA' ) {
                            // Define variables for DPA address components (blank if NULL).
                            let dpaDepartmentName = result.DEPARTMENT_NAME || '';
                            let dpaOrganisationName = result.ORGANISATION_NAME || '';
                            let dpaSubBuildingName = result.SUB_BUILDING_NAME || '';
                            let dpaBuildingName = result.BUILDING_NAME || '';
                            let dpaBuildingNumber = result.BUILDING_NUMBER || '';
                            let dpaPOBoxNumber = result.PO_BOX_NUMBER || '';
                            let dpaDependentThoroughfareName = result.DEPENDENT_THOROUGHFARE_NAME || '';
                            let dpaThoroughfareName = result.THOROUGHFARE_NAME || '';
                            let dpaDoubleDependentLocality = result.DOUBLE_DEPENDENT_LOCALITY || '';
                            let dpaDependentLocality = result.DEPENDENT_LOCALITY || '';
                            let dpaPostTown = result.POST_TOWN || '';
                            let dpaPostcode = result.POSTCODE || '';
                
                            // Add a "PO BOX " prefix to the PO Box Number integer.
                            if( dpaPOBoxNumber !== '' ) dpaPOBoxNumber = `PO BOX ${dpaPOBoxNumber}`;
                
                            // Define arrays for the premises and thoroughfare components of the address.
                            let arrPremises = [ dpaBuildingNumber, dpaSubBuildingName, dpaBuildingName ].filter(item => item);
                            let arrThoroughfareLocality = [ dpaDependentThoroughfareName, dpaThoroughfareName, dpaDoubleDependentLocality, dpaDependentLocality ].filter(item => item);
                
                            // Define an empty string to store the appropriately combined/structured premises and
                            // thoroughfare components.
                            let strPremisesThoroughfareLocality = '';
                
                            // Define a regular expression to test for a letter suffix (e.g. '11A') or number
                            // range (e.g. '3-5'). Combine the first values from the premises and thoroughfare
                            // arrays into a string; before removing them from the array.
                            const regex = /(^[1-9]+[a-zA-Z]$)|(^[1-9]+-[1-9]+$)/;
                            if( regex.test(dpaSubBuildingName) || regex.test(dpaBuildingName) || dpaBuildingNumber !== '' ) {
                                strPremisesThoroughfareLocality = `${arrPremises[0]} ${arrThoroughfareLocality[0]}`;
                                arrThoroughfareLocality.shift();
                                arrPremises.shift();
                            }
                
                            // Push the Organisation Name, Department Name and PO Box Number to the address array.
                            arrAddrLine.push(dpaOrganisationName, dpaDepartmentName, dpaPOBoxNumber);
                
                            // Merge the structured premises and thoroughfare components into the address array.
                            arrAddrLine = arrAddrLine.concat(arrPremises);
                            arrAddrLine = arrAddrLine.concat(strPremisesThoroughfareLocality);
                            arrAddrLine = arrAddrLine.concat(arrThoroughfareLocality);
                
                            // Remove any duplicates and blanks from the address array.
                            arrAddrLine = [ ...new Set(arrAddrLine) ];
                            arrAddrLine = arrAddrLine.filter(item => item);
                
                            // Populate the "Address Line 1-4" fields using the address array.
                            let counter = Math.min(arrAddrLine.length, 4);
                            for( let i = 1; i <= counter; i++ ) {
                                let elemId = `_addr${i}`;
                                document.getElementById(elemId).value = arrAddrLine[i-1];
                            }
                
                            // Populate the remaining fields.
                            document.getElementById('_town').value = dpaPostTown;
                            document.getElementById('_postcode').value = dpaPostcode;
                        }
                        else if( type == 'LPI' ) {
                            // Define variables for LPI address components (blank if NULL).
                            let lpiOrganisation = result.ORGANISATION || '';
                            let lpiSAOText = result.SAO_TEXT || '';
                            let lpiSAOStartNumber = result.SAO_START_NUMBER || '';
                            let lpiSAOStartSuffix = result.SAO_START_SUFFIX || '';
                            let lpiSAOEndNumber = result.SAO_END_NUMBER || '';
                            let lpiSAOEndSuffix = result.SAO_END_SUFFIX || '';
                            let lpiPAOText = result.PAO_TEXT || '';
                            let lpiPAOStartNumber = result.PAO_START_NUMBER || '';
                            let lpiPAOStartSuffix = result.PAO_START_SUFFIX || '';
                            let lpiPAOEndNumber = result.PAO_END_NUMBER || '';
                            let lpiPAOEndSuffix = result.PAO_END_SUFFIX || '';
                            let lpiStreetDescription = result.STREET_DESCRIPTION || '';
                            let lpiLocality = result.LOCALITY || '';
                            let lpiTownName = result.TOWN_NAME || '';
                            let lpiAdministrativeArea = result.ADMINISTRATIVE_AREA || '';
                            let lpiPostcodeLocator = result.POSTCODE_LOCATOR || '';
                
                            // Create SAO number/range value (e.g. '1' or '1A' or '1-5' or '1A-5C').
                            let lpiSAONumberRange = `${lpiSAOStartNumber}${lpiSAOStartSuffix}-${lpiSAOEndNumber}${lpiSAOEndSuffix}`;
                            lpiSAONumberRange = lpiSAONumberRange.replace(/-+$/, "");
                
                            // Create PAO number/range value (e.g. '1' or '1A' or '1-5' or '1A-5C').
                            let lpiPAONumberRange = `${lpiPAOStartNumber}${lpiPAOStartSuffix}-${lpiPAOEndNumber}${lpiPAOEndSuffix}`;
                            lpiPAONumberRange = lpiPAONumberRange.replace(/-+$/, "");
                
                            // Combine the SAO number/range value and PAO text.
                            let lpiSAONumberRangePAOText = [ lpiSAONumberRange, lpiPAOText ].join(' ').trim();
                
                            // Combine the PAO number/range and street description.
                            let lpiPAONumberRangeStreetDescription = [ lpiPAONumberRange, lpiStreetDescription ].join(' ').trim();
                
                            // {Edge Case} If there is only a SAO number/range value and PAO number/range value; then
                            // the SAO number/range should appear on the same line as the combined PAO number/range
                            // and street description.
                            if( lpiSAONumberRange !== '' && lpiSAOText === '' && lpiPAONumberRange !== '' && lpiPAOText === '' ) {
                                lpiPAONumberRangeStreetDescription = `${lpiSAONumberRange}, ${lpiPAONumberRangeStreetDescription}`;
                            }
                
                            // Push the organisation, SAO text and combined PAO number/range and street description
                            // to the address array.
                            if( lpiOrganisation !== '' ) arrAddrLine.push(lpiOrganisation);
                            if( lpiSAOText !== '' ) arrAddrLine.push(lpiSAOText);
                            if( lpiSAONumberRangePAOText !== '' ) arrAddrLine.push(lpiSAONumberRangePAOText);
                
                            // Add the combined PAO number/range and street description to the address array.
                            arrAddrLine.push(lpiPAONumberRangeStreetDescription);
                
                            // Remove any duplicates and blanks from the address array.
                            arrAddrLine = [ ...new Set(arrAddrLine) ];
                            arrAddrLine = arrAddrLine.filter(item => item);
                
                            // Populate the "Address Line 1-4" fields using the address array.
                            let counter = Math.min(arrAddrLine.length, 4);
                            for( let i = 1; i <= counter; i++ ) {
                                let elemId = `_addr${i}`;
                                document.getElementById(elemId).value = arrAddrLine[i-1];
                            }
                
                            // Populate the remaining fields.
                            document.getElementById('_locality').value = lpiLocality;
                            document.getElementById('_town').value = lpiTownName;
                            document.getElementById('_admin').value = lpiAdministrativeArea;
                            document.getElementById('_postcode').value = lpiPostcodeLocator;
                        }
                
                        // Populate the <textarea> from the completed form.
                        elements.forEach(o => {
                            if( o.value !== '' ) textarea.value +=  o.value + '\r\n';
                        });
                
                        // Reset the table row values.
                        const rows = document.querySelectorAll('tr');
                        rows.forEach(o => o.childNodes[1].innerText = '');
                
                        // Loop through object keys to populate the matching table row (based on the
                        // textContent) with the object value.
                        for( let prop in result ) {
                            for( let a of document.querySelectorAll('table tr') ) {
                                if( a.textContent === prop ) {
                                    a.childNodes[1].innerText = result[ prop ];
                                }
                            }
                        }
                    }
                
                    /**
                     * Get features from the API.
                     */
                    function getFeatures() {
                        const apikey = document.getElementById('apikey').value;
                        const query = document.getElementById('query').value;
                        const resource = document.querySelector('input[name="resource"]:checked').value;
                        const dataset = document.getElementById('dataset').value;
                
                        let search = resource === 'find' ? 'query' : resource;
                
                        // Define request parameters.
                        const params = {
                            key: apikey,
                            [ search ]: query,
                            dataset: dataset,
                            output_srs: 'EPSG:4326'
                        };
                
                        if( resource === 'find' ) {
                            params.minmatch = String(document.getElementById('minmatch').value);
                        }
                
                        const queryString = Object.keys(params).map(function(key) {
                            return key + '=' + params[ key ];
                        }).join('&');
                
                        loader.style.display = 'inline-block';
                
                        (async () => {
                            try {
                                // Use fetch() method to request address, postcode, or UPRN.
                                await fetch('https://api.os.uk/search/places/v1/' + resource + '?' + queryString)
                                    .then(response => {
                                        if( response.ok ) return response.json();
                                        return response.json().then(response => {
                                            let msg = response.hasOwnProperty('fault') ?
                                                response.fault.faultstring :
                                                response.error.message;
                                            throw msg;
                                        });
                                    })
                                    .then(data => {
                                        // Clear the results drop-down list.
                                        const options = document.querySelectorAll('#results option');
                                        options.forEach(o => o.remove());
                
                                        // Configure the form based on the dataset type.
                                        document.querySelectorAll("form input").forEach(o => o.value = '');
                                        document.getElementById('_locality').type = dataset === 'dpa' ? 'hidden' : 'text';
                                        document.getElementById('_admin').type = dataset === 'dpa' ? 'hidden' : 'text';
                
                                        textarea.value = '';
                
                                        initialiseTable(fields[ dataset.toUpperCase() ]);
                
                                        if( data.header.totalresults == 0 || ! data.results ) {
                                            throw 'Nothing found. Try modifiying your search or minimum match score.';
                                        }
                
                                        // Update the JSON object with the data results.
                                        oJson = data.results;
                
                                        // Loop through the data results; adding the address string as a new option
                                        // to the results drop-down list.
                                        data.results.forEach(function(val, i) {
                                            const option = document.createElement('option');
                                            option.value = i;
                                            option.text = val[ dataset.toUpperCase() ].ADDRESS;
                                            selResults.add(option);
                                        });
                
                                        // Scroll the results drop-down list back to the top.
                                        selResults.scrollTo(0, 0);
                
                                        // Display the request URI.
                                        document.getElementById('uri').innerText = data.header.uri;
                                    });
                            } catch(e) {
                                alert(e);
                            } finally {
                                loader.style.display = 'none';
                            }
                        })();
                    }
                
                    /**
                     * Helper function to generate a clean (empty) table structure.
                     */
                    function initialiseTable(arr) {
                        const table = document.getElementsByTagName('table')[0];
                        table.innerHTML = '';
                
                        for( let i = arr.length-1; i >= 0 ; i-- ) {
                            let row = table.insertRow(0);
                            let cell1 = row.insertCell(0);
                            let cell2 = row.insertCell(1);
                            cell1.innerHTML = arr[i];
                        }
                    }
                
                    /**
                     * Copy the contents of <textarea> to the clipboard.
                     */
                    function copyToClipboard(e) {
                        e.preventDefault();
                
                        // Select the text field.
                        textarea.select();
                        textarea.setSelectionRange(0, 99999); /* For mobile devices */
                
                        // Copy the text inside the text field.
                        navigator.clipboard.writeText(copyText.value);
                    }
                
                </script>
        
        
        
            </main>
          </div>
        
        
        
        

        
          
          <span class="govuk-visually-hidden"><footer class="govuk-footer">
            <div class="govuk-width-container">
              <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    class="govuk-footer__licence-logo"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 483.2 195.7"
                    height="17"
                    width="41">
                    <path
                      fill="currentColor"
                      d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
                  </svg>
                  <span class="govuk-footer__licence-description">
                    All content is available under the
                    <a
                      class="govuk-footer__link"
                      href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                      rel="license">Open Government Licence v4.0</a>, except where otherwise stated
                  </span>
                </div>
                <div class="govuk-footer__meta-item">
                  <a
                    class="govuk-footer__link govuk-footer__copyright-logo"
                    href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
                    © Crown copyright
                  </a>
                </div>
              </div>
            </div>
          </footer></span>




          <span class="govuk-visually-hidden">script type="module" src="/javascripts/govuk-frontend.min.js"></script>
          <script type="module">
            import {
              initAll
            } from '/javascripts/govuk-frontend.min.js'
            initAll()
          </script></span>
        </body>

  

      </div>
    </div>

  </main>
</div>


{% endblock %}
