{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}
{% include "includes/layouts/personaldetails.html" %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">




<form action="../tasklist" method="post" novalidate>

<!--columns start-->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!--content start-->

  <!--<h2 class="govuk-heading-l govuk-!-margin-top-6">Checked automatically</h2>
  <div class="govuk-body">These questions have been answered automatically using information from OASys. You can change the answer if something looks wrong.</div>-->
  
  <div class="govuk-form-group govuk-!-margin-top-6">
    <div class="govuk-radios govuk-radios--inline">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        Does this person have a high or very high risk of serious harm?
      </legend>    
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="seriousHarm" name="seriousHarm" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="seriousHarm">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="seriousHarm-2" name="seriousHarm" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="seriousHarm-2">
          No
        </label>
      </div>
    </div>
  </div>
  

    <div class="govuk-radios govuk-radios--inline">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        Are they MAPPA level 2 or 3?
      </legend>  
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="roshMappa" name="roshMappa" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="roshMappa">
          Yes
        </label>
      </div>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="roshMappa-2" name="roshMappa" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="roshMappa-2">
           No
          </label>
        </div>
      </div>
    </div>
        <br />
  
  
      <div class="govuk-button-group" style="margin-top: 15px;">

      <button type="submit" class="govuk-button" data-module="govuk-button">
       Save
      </button>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Cancel
      </button>
      <a class="govuk-link govuk-link--no-visited-state" href="presumed-unsuitable-offences">Save and go to next question</a>
      </div>

  </form>


        <!--content end-->

      </div>


      <div class="govuk-grid-column-one-third">

        <!--<h2 class="govuk-heading-m govuk-!-margin-top-6">Information from OASys</h2>
        


{% from "components/rosh-widget/macro.njk" import roshWidget %}

{{ roshWidget({
    hasBeenCompleted: true,
    overallRisk: "VERY_HIGH",
    riskInCommunity: {
      "Children": "LOW",
      "Public": "VERY_HIGH",
      "Known Adult": "MEDIUM",
      "Staff": "HIGH"
    },
    lastUpdated: "17 Oct 2024"
}) }}

{% from "components/mappa-widget/macro.njk" import mappaWidget %}

{{ mappaWidget({}) }}
-->

      </div>
    </div>
  </main>
</div>










{% endblock %}
