{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}
{% include "includes/layouts/personaldetails.html" %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


    <form action="../outcomes/presumed-unsuitable" method="post" novalidate>

<!--columns start-->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!--content start-->

  <!--<h2 class="govuk-heading-l govuk-!-margin-top-6">Checked automatically</h2>
  <div class="govuk-body">This question has been answered automatically using information from NOMIS. You can change the answer if something looks wrong.</div>-->
  
  <div class="govuk-form-group govuk-!-margin-top-6">
    <div class="govuk-radios govuk-radios--inline">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        Is this person category A?
      </legend>    
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="categoryA" name="categoryA" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="categoryA">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="categoryA-2" name="categoryA" type="radio" value="no" checked>
        <label class="govuk-label govuk-radios__label" for="categoryA-2">
          No
        </label>
      </div>
    </div>
  </div>

  <input type="hidden" name="securitycategory" value="changed">
  
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Save
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
     </button>
    <a class="govuk-link govuk-link--no-visited-state" href="rosh-mappa">Save and next question</a>
  </div>


  </form>


        <!--content end-->

      </div>


      <div class="govuk-grid-column-one-third">

        <!--<h2 class="govuk-heading-s" style="margin-top: 90px;">Information from NOMIS</h2>-->
        
        
               <!--
<div class="govuk-summary-card govuk-!-margin-top-6">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Information from NOMIS
    </h2>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value" style="width: 40%;">
          Category:
        </dt>
        <dd class="govuk-summary-list__key">
          C
        </dd>
        <dd class="govuk-summary-list__actions">
          <span class="moj-badge moj-badge--black">Nomis</span>
        </dd>
      </div>

    </dl>
  </div>
</div>
-->



      </div>
    </div>
  </main>
</div>

<!--columns end-->








{% endblock %}
