{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<div class="govuk-width-container govuk-!-margin-top-8">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        
       
          

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Details updated
          </h1>
          
          <!-- <div class="govuk-panel__body">
            <img style="width:6%; padding-right: 5px;" src="/public/images/icons/icon-grid-125x125_check_white.svg"/>
            bla
          </div> -->

        </div>
        <br>

        <!-- <h2 class="govuk-heading-m" style="margin-top: 30px;">H2</h2> -->

        <p class="govuk-body">You have successfully updated the following information:</p>

        <div class="govuk-inset-text">
          Previous details: 4 Inner Street, Grantham, NG31 6HN<br>
          New details: 4 Outer Road, Grantham, NG31 6HN
        </div>

      
        <h2 class="govuk-heading-m">Inform probation practitioner of this change</h2>

        <p class="govuk-body">You must tell this person’s probation practitioner about the change you have made.
          This will help to ensure they are checking the right information.</p>
        
          <h3 class="govuk-heading-s">Probation practitioner details</h2>

            <div class="govuk-inset-text">
              Name: Leah Smith<br>
              Email: leah.smith@justice.gov.uk<br>
              Phone number: 01234 9876543
            </div>

        <form action="/v3/changedcurfewaddress" method="post" novalidate>

        <div class="govuk-button-group" style="margin-top: 40px;">
          <button type="submit" class="govuk-button" data-module="govuk-button" name="confirmationnav" value="alladdresses">
            Continue
          </button>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="confirmationnav" value="overview">
            Return to application overview
          </button>
        </div>
        
        </form>


        <p class="govuk-body" style="margin-top: 50px; margin-bottom: -50px;">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
