{% extends "layouts/main.html" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <span class="govuk-caption-l govuk-!-margin-top-8">Prototype v2 Private Beta</span>
    <h1 class="govuk-heading-l">Assess for Early Release</h1>

      {% if (data.user=="decisionmaker") or (data.user=="admin") %}
      <form action="./dps/dps-home" method="post">
      {% elseif data.user=="probation" %}
      <form action="./ndelius/ndelius-home" method="post">
      {% endif %}

      <div class="govuk-form-group govuk-!-margin-bottom-8 govuk-!-margin-top-8">
      <div class="govuk-radios">
        <label class="govuk-label govuk-!-font-weight-bold" for="user">
          Choose a journey:
        </label>

        {% if data.user=="admin" %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="ineligible-journey" name="journey" type="radio" value="ineligiblejourney">
          <label class="govuk-label govuk-radios__label" for="ineligible-journey">
            Scenario 1 - Jose Rodriguez
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="eligible-journey" name="journey" type="radio" value="eligiblejourney">
          <label class="govuk-label govuk-radios__label" for="eligible-journey" >
            Scenario 2 - George Jennings
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="28days-journey" name="journey" type="radio" value="28daysjourney">
          <label class="govuk-label govuk-radios__label" for="dm-28days-journey">
            Scenario 3 - David Lee
          </label>
        </div>
        {% elseif data.user=="probation" %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="eligible-journey" name="journey" type="radio" value="eligiblejourney">
          <label class="govuk-label govuk-radios__label" for="eligible-journey" >
            Scenario 2 - George Jennings
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="eligible-journey" name="journey" type="radio" value="cas2application">
          <label class="govuk-label govuk-radios__label" for="eligible-journey" >
            Scenario 4 - Ryan Rees
          </label>
        </div>
        

        </br></br>
        <p>Scenario 5 (WIP)</p>

        {% endif %}

        <!--<div class="govuk-radios__item">
          <input class="govuk-radios__input" id="user-employer" name="user" type="radio" value="governor">
          <label class="govuk-label govuk-radios__label" for="user-employer">
            Prison Approver
          </label>
        </div>-->

       <!--<div class="govuk-radios__item">
          <input class="govuk-radios__input" id="user-aco" name="user" type="radio" value="aco">
          <label class="govuk-label govuk-radios__label" for="user-aco">
            PDU Head
          </label>
        </div>-->

      </div>
      </div>



<input class="govuk-radios__input" id="configversion" name="configversion" type="hidden" value="5">
      
      <div class="govuk-form-group">

        <button type="submit" class="govuk-button" data-module="govuk-button">Start prototype</button>

      </div>


    </form>
  </div>
</div>


{% endblock %}

{% block pageScripts %}
{{super()}}


{% endblock %}
