{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}


    <div class="govuk-width-container">
      <main class="govuk-main-wrapper " id="main-content" role="main">
    

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Tasks</h1>
            
            


<!--CA tasks start-->
{% if data.user=="admin"%}


<!--Assess eligibility and suitability - Start-->
<article class="moj-ticket-panel" aria-label="Sub navigation 1">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Assess eligibility and suitability</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="moj-badge moj-badge--black moj-badge--large" style="text-transform: capitalize; margin-left: 50px; margin-top: 5px;">Ready<span style="text-transform: lowercase;"> to start</span></span>
      </div>
    </div>
    <a href="./eligibility/tasklist" class="govuk-button govuk-button--primary" style="margin-top: 15px;">Start</a>
  </section>
</article>

<!--Assess eligibility and suitability - In progress-->
<!--<article class="moj-ticket-panel" aria-label="Sub navigation 1">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Assess eligibility and suitability</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="moj-badge moj-badge--black moj-badge--large" style="text-transform: capitalize; margin-left: 70px; margin-top: 5px;">In <span style="text-transform: lowercase;">progress</span></span>
      </div>
    </div>
    <a href="./eligibility/tasklist" class="govuk-button govuk-button--primary" style="margin-top: 15px;">Continue</a>
  </section>
</article>-->

<!--Assess eligibility and suitability - Done-->
<!--<article class="moj-ticket-panel" aria-label="Sub navigation 1">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--green" aria-label="Section 1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Assess eligibility and suitability</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="moj-badge moj-badge--green moj-badge--large" style="text-transform: capitalize; margin-left: 68px; margin-top: 5px;">Completed</span>
      </div>
    </div>
    <p><a class="govuk-link govuk-link--no-visited-state" href="./eligibility/tasklist" style="margin-top: 15px;">Change</a></p>
  </section>
</article>-->



<!--Enter curfew addresses - Cannot start yet-->
<article class="moj-ticket-panel" aria-label="Sub navigation 1">

  <form action="./eligibility/tasklist-review" method="post" novalidate>
      <input type="hidden" name="prepareforrelease" value="yes">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--grey" aria-label="Section 1">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Enter curfew addresses and CAS areas</h2>
    <p class="govuk-body">Waiting for x</p>
  </section>
  </form>

</article>

{% if (data.addressinputcomplete=="view") %}
<!--Enter addresses - Done-->
<article class="moj-ticket-panel" aria-label="Sub navigation 1">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--green" aria-label="Section 1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Enter curfew addresses and CAS areas</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="moj-badge moj-badge--green moj-badge--large" style="text-transform: capitalize; margin-left: 68px; margin-top: 5px;">Completed</span>
      </div>
    </div>
    <p><a class="govuk-link govuk-link--no-visited-state" href="./address-input/view-address-input.html" style="margin-top: 15px;">View and Change</a></p>
  </section>
</article>
{% elseif (data.addressinputcomplete=="yes") %}
<!--Enter addresses - Done-->
<article class="moj-ticket-panel" aria-label="Sub navigation 1">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--green" aria-label="Section 1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Enter curfew addresses and CAS areas</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="moj-badge moj-badge--green moj-badge--large" style="text-transform: capitalize; margin-left: 68px; margin-top: 5px;">Completed</span>
      </div>
    </div>
    <p><a class="govuk-link govuk-link--no-visited-state" href="./address-input/view-address-input.html" style="margin-top: 15px;">View and Change</a></p>
  </section>
</article>
{% else %}
<!--Enter curfew addresses - Start-->
<!--<article class="moj-ticket-panel" aria-label="Sub navigation 1">

  <form action="./address-input/opt-out.html" method="post" novalidate>

  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Enter curfew addresses and CAS areas</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="moj-badge moj-badge--black moj-badge--large" style="text-transform: capitalize; margin-left: 50px; margin-top: 5px;">Ready<span style="text-transform: lowercase;"> to start</span></span>
      </div>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button" style="margin-top: 15px;">Start</button>
  </section>
  </form>

</article>-->
{% endif %}

<!--Enter curfew addresses - In progress-->
<!--<article class="moj-ticket-panel" aria-label="Sub navigation 1">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Enter curfew addresses and CAS areas</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="moj-badge moj-badge--black moj-badge--large" style="text-transform: capitalize; margin-left: 70px; margin-top: 5px;">In <span style="text-transform: lowercase;">progress</span></span>
      </div>
    </div>
    <a href="./address-input/opt-out.html" class="govuk-button govuk-button--primary" style="margin-top: 15px;">Continue</a>
  </section>
</article>-->



<article class="moj-ticket-panel" aria-label="Sub navigation 1">
  
  <form action="./eligibility/tasklist-review" method="post" novalidate>
    <input type="hidden" name="predecisioncheck" value="yes">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Review application and send for decision</h2>
    <!--<p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
    <button type="submit" class="govuk-button" data-module="govuk-button" style="margin-top: 15px;">Start</button>
  </section>
  </form>
</article>




<!--Print licence - Cannot start yet-->
<article class="moj-ticket-panel" aria-label="Sub navigation 1">

  <form action="./eligibility/tasklist-review" method="post" novalidate>
      <input type="hidden" name="prepareforrelease" value="yes">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--grey" aria-label="Section 1">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Prepare for release</h2>
    <p class="govuk-body">Waiting for x</p>
    <!--<button type="submit" class="govuk-button" data-module="govuk-button" style="margin-top: 15px;">Start</button>-->
  </section>
  </form>

</article>


<!--Print licence - Start-->
<article class="moj-ticket-panel" aria-label="Sub navigation 1">

  <form action="./eligibility/tasklist-review" method="post" novalidate>
      <input type="hidden" name="prepareforrelease" value="yes">

  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Prepare for release</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="moj-badge moj-badge--black moj-badge--large" style="text-transform: capitalize; margin-left: 50px; margin-top: 5px;">Ready<span style="text-transform: lowercase;"> to start</span></span>
      </div>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button" style="margin-top: 15px;">Start</button>
  </section>
  </form>

</article>


<!--Print licence - In progress-->
<article class="moj-ticket-panel" aria-label="Sub navigation 1">

  <form action="./eligibility/tasklist-review" method="post" novalidate>
      <input type="hidden" name="prepareforrelease" value="yes">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Prepare for release</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="moj-badge moj-badge--black moj-badge--large" style="text-transform: capitalize; margin-left: 70px; margin-top: 5px;">In <span style="text-transform: lowercase;">progress</span></span>
      </div>
    </div>
    <button type="submit" class="govuk-button" data-module="govuk-button" style="margin-top: 15px;">Continue</button>
  </section>
  </form>

</article>


<!--Print licence - Done-->
<article class="moj-ticket-panel" aria-label="Sub navigation 1">

  <!--<form action="./eligibility/tasklist-review" method="post" novalidate>-->
      <!--<input type="hidden" name="prepareforrelease" value="yes">-->
  <section class="moj-ticket-panel__content moj-ticket-panel__content--green" aria-label="Section 1">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Prepare for release</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <span class="moj-badge moj-badge--green moj-badge--large" style="text-transform: capitalize; margin-left: 68px; margin-top: 5px;">Completed</span>
      </div>
    </div>
    <p><a class="govuk-link govuk-link--no-visited-state" href="./eligibility/tasklist-review" style="margin-top: 15px;">Change</a></p>
  </section>
  <!--</form>-->

</article>



<!--Print licence - Cannot start yet-->
<article class="moj-ticket-panel" aria-label="Sub navigation 1">

  <section class="moj-ticket-panel__content moj-ticket-panel__content--grey" aria-label="Section 1">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Print licence</h2>
    <p class="govuk-body">Waiting for x</p>
    <!--<a href="../cvl/ca/print-licence.html" class="govuk-button govuk-button--primary" style="margin-top: 15px;">View and print licence</a>-->
  </section>

</article>


<!--Print licence - Start-->
<article class="moj-ticket-panel" aria-label="Sub navigation 1">

  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Print licence</h2>
    <!--<p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
    <a href="../cvl/ca/print-licence.html" class="govuk-button govuk-button--primary" style="margin-top: 15px;">View and print licence</a>
  </section>

</article>


{% endif %}
<!--tasks end-->





{% if data.user=="probation"%}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m" style="margin-top: 25px;">Check addresses or community accommodation</h2>
  </div>
  <div class="govuk-grid-column-one-third">
    

    {% if (data.cas2suitable=="yes") or (data.suitabilityDecision=="no") %}
    <a href="./addresses/tasklist" class="govuk-button govuk-button--secondary" style="margin-top: 17px;">Edit checks</a>
    {% else %}
    <a href="./addresses/tasklist" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-top: 17px;">
      Start
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
    {% endif %}

  </div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m" style="margin-top: 25px;">Assess this person’s risk</h2>
</div>
<div class="govuk-grid-column-one-third">

{% if data.riskAssessed=="yes"%}
<a href="./addresses/risk" class="govuk-button govuk-button--secondary" style="margin-top: 17px;">Edit risk</a>
{% else %}
<a href="./addresses/risk" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-top: 17px;">
  Start
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
{% endif %}

</div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m" style="margin-top: 25px;">Make a risk management decision</h2>
</div>
<div class="govuk-grid-column-one-third">

{% if data.managementDecision=="yes"%}
<a href="./addresses/decision" class="govuk-button govuk-button--secondary" style="margin-top: 17px;">Edit decision</a>
{% else %}  
{% if data.riskAssessed=="yes"%}  
<a href="./addresses/decision" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-top: 17px;">
{% else %}  
<a href="./addresses/decision" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-top: 17px;" disabled aria-disabled="true">
{% endif %}    
  Start
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
{% endif %}    

</div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m" style="margin-top: 25px;">Send checks to prison</h2>
</div>
<div class="govuk-grid-column-one-third">

{% if data.managementDecision=="yes"%}  
<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-top: 17px;">
{% else %}  
<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-top: 17px;" disabled aria-disabled="true">
{% endif %}  
  Start
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

</div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m" style="margin-top: 25px;">Create licence</h2>
</div>
<div class="govuk-grid-column-one-third">

<a href="../cvl/approvals/hdc.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-top: 17px;" disabled aria-disabled="true">
  Start
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

</div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% endif %}


<!--tasks end-->



<!--DM tasks start-->
{% if data.user=="decisionmaker"%}
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m" style="margin-top: 25px;">Confirm if George can be released on HDC</h2>
  </div>
  <div class="govuk-grid-column-one-third">
    
    <a href="./decision/confirm-release.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-top: 17px;">
      Start
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

  </div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-m" style="margin-top: 25px;">Approve licence</h2>
</div>
<div class="govuk-grid-column-one-third">

<a href="../cvl/approvals/hdc.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-top: 17px;" disabled aria-disabled="true">
  Start
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

</div>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


{% endif %}
<!--tasks end-->

  

      </div>
    </div>
  </main>
</div>

{% endblock %}
