{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l govuk-!-margin-top-8">Check if a curfew address is suitable</h1>

          <!--If delay has been reported-->
      <!--Before deadline-->
      <!--ADD RULES-->
      <!--<div class="govuk-inset-text">
        Address and risk checks must be completed by {{ "today" |  duration(13) | govukDate("truncate") }}.</br>
        You have reported a delay to other people working on this application.</br>
        <a class="govuk-link govuk-link--no-visited-state" href="#">Update this</a> if something changes.
      </div>-->
      <!--ADD RULES-->

      

      <!--{% if (data.SocialservicesChecks=="completed") and (data.PoliceChecks=="completed") %}
      <p>[Copy: Removed checks outstanding?]</p>

      {% elseif data.reportedDelay=="yes"%}-->
      <!--If delay has been reported - After deadline-->
      <!--<div class="govuk-inset-text" style="border-color: #d4351c">
        <strong>Checks overdue</strong></br>
        Address and risk checks were due to be completed by {{ "today" |  duration(13) | govukDate("truncate") }}.</br> 
        You have reported a delay to other people working on this application.</br>
        [Reporting date?][Reason?]
      </div>-->
      <!--If delay has NOT been reported - After deadline-->
      <!--{% elseif data.passedDeadline=="yes"%}
      <div class="govuk-inset-text" style="border-color: #d4351c">
        <strong>Checks overdue</strong></br>
        Address and risk checks were due to be completed by {{ "today" |  duration(13) | govukDate("truncate") }}.</br> 
        You must <a class="govuk-link govuk-link--no-visited-state" href="../../delay/report-delay">report a delay</a> to other people working on this application.
      </div>
      {% else %}-->
      <!--If delay has NOT been reported - Before deadline-->
      <!--<div class="govuk-inset-text">
        Address and risk checks must be completed by {{ "today" |  duration(13) | govukDate("truncate") }}.</br>
        You can <a class="govuk-link govuk-link--no-visited-state" href="#">report a delay</a> to other people working on this application if you will not be able to do this.
      </div>
      {% endif %}-->

<!--card start-->
<br>
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Second address
    </h2>
  </div>
  
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          49 Hill Street</br>
          Grantham</br>
          N1J 5NB
        </dt>
        <dd class="govuk-summary-list__actions"></td></dd>
      </div>
  
  
    </dl>
  </div>
  
  </div>
  <!--card end-->



  <!--tasklist start-->

  <h2 class="app-task-list__section govuk-!-margin-top-8">Address checks</h2>
  <ul class="app-task-list__items">



        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a class="govuk-link govuk-link--no-visited-state" href="occupier-check-2">
             Address details and informed consent
            </a>
            </br>
            {% if data.OccupierChecks=="completed" %}
            <div id="company-details-3-hint" class="govuk-task-list__hint" style="color: #505a5f	;">
             Recorded on {{ "today" |  duration(0) | govukDate("truncate") }} by Mark Coombes
            </div>
            {% endif %}
          </span>
          {% if data.OccupierChecks=="completed" %}
          <p class="govuk-body" style="text-align: right;">Completed</p>
          {% else %}
          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status" style="text-transform: capitalize;">Incomplete</strong>
          {% endif %}
        </li>


        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a class="govuk-link govuk-link--no-visited-state" href="police-check-2">
             Police check
            </a>
            </br>
            {% if data.PoliceChecks=="completed" %}
            <div id="company-details-3-hint" class="govuk-task-list__hint" style="color: #505a5f	;">
             Recorded on {{ "today" |  duration(0) | govukDate("truncate") }} by Mark Coombes
            </div>
            {% endif %}
          </span>
          {% if data.PoliceChecks=="completed" %}
          <p class="govuk-body" style="text-align: right;">Completed</p>
          {% elseif data.PoliceChecks=="started" %}
          <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><span style="text-transform: capitalize;">In</span><span style="text-transform: lowercase;"> progress</span></strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" style="text-transform: capitalize;">Incomplete</strong>
          {% endif %}
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a class="govuk-link govuk-link--no-visited-state" href="socialservices-check-2">
             Children's services check
            </a>
            </br>
            {% if data.SocialservicesChecks=="completed" %}
            <div id="company-details-3-hint" class="govuk-task-list__hint" style="color: #505a5f	;">
             Recorded on {{ "today" |  duration(0) | govukDate("truncate") }} by Mark Coombes
            </div>
            {% endif %}
          </span>
          {% if data.SocialservicesChecks=="completed" %}
          <p class="govuk-body" style="text-align: right;">Completed</p>
          {% elseif data.SocialservicesChecks=="started" %}
          <strong class="govuk-tag govuk-tag--blue app-task-list__tag"><span style="text-transform: capitalize;">In</span><span style="text-transform: lowercase;"> progress</span></strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status" style="text-transform: capitalize;">Incomplete</strong>
          {% endif %}
        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            {% if (data.SocialservicesChecks=="completed") and (data.PoliceChecks=="completed") %}
            <a class="govuk-link govuk-link--no-visited-state" href="suitabilitydecision-2">
              Suitablity decision
             </a>
            {% else %}
            Suitablity decision
            {% endif %}
            </br>
            {% if data.suitabilityDecisionRes=="completed" %}
            <div id="company-details-3-hint" class="govuk-task-list__hint" style="color: #505a5f	;">
             Recorded on {{ "today" |  duration(0) | govukDate("truncate") }} by Mark Coombes
            </div>
            {% endif %}
          </span>
          {% if (data.OccupierChecks=="completed") and (data.SocialservicesChecks=="completed") and (data.PoliceChecks=="completed") %}
          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status" style="text-transform: capitalize;">Incomplete</strong>
          {% elseif data.suitabilityDecisionRes=="completed" %}
          <p class="govuk-body" style="text-align: right;">Completed</p>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status"><span style="text-transform: capitalize;">Cannot</span><span style="text-transform: lowercase;"> start yet</span></strong>
          {% endif %}
        </li>


   

  </ul>


<!--tasklist end-->
       
<form action="../tasklist" method="post" novalidate>

  <input type="hidden" name="passedDeadline" value="yes">

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Return to [copy]
    </button>
  </div>

</form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
