{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<!--<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>-->
{% endblock %}

{% block content %}


      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          
<!--side nav start-->
  <div class="govuk-grid-column-one-third">
    <nav class="moj-side-navigation govuk-!-margin-top-8" aria-label="Side navigation">
      <h4 class="moj-side-navigation__title">Check if an address is suitable for HDC</h4>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="../tasklist">Release someone on HDC</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="address-details-2">Address information</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="occupier-check">Occupier</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="police-check">Police</a>
        </li>

        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="#" aria-current="location">Social services</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="#3">Suitablity</a>
        </li>

      </ul>
    </nav>
  </div>
<!--side nav end-->      


          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-8">Social services</h2>

            <!--content 2/3 start-->
                      
            <div class="govuk-radios govuk-radios--inline govuk-!-margin-top-4">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Have you received and considered information from children’s services about domestic abuse and safeguarding?
              </legend>    
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="childrensServices" name="childrensServices" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="childrensServices">
                  Yes
                </label>
              </div>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="childrensServices-2" name="childrensServices" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="childrensServices-2">
                  No
                  </label>
                </div>
              </div>
            </div>


            <div class="govuk-form-group govuk-!-margin-top-6">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Enter the date that you requested this information
                </legend>
                <div id="expiry-hint" class="govuk-hint">
                  For example, 31 3 1980
                </div>
                <div class="govuk-date-input" id="expiry">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="expiry-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="expiry-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month" name="expiry-month" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="expiry-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year" name="expiry-year" type="text" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>


            <div class="govuk-form-group govuk-!-margin-top-4">
              <label class="govuk-label" for="moreDetailchildren"><strong>Summarise the information that children’s services provided</strong></label>
              <textarea class="govuk-textarea" id="moreDetailchildren" name="moreDetailchildren" rows="5"></textarea>
            </div>


            <div class="govuk-form-group govuk-!-margin-top-6">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="expiry-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Enter the date that children’s services sent this information
                </legend>
                <div id="expiry-hint" class="govuk-hint">
                  For example, 31 3 1980
                </div>
                <div class="govuk-date-input" id="expiry">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="expiry-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-day" name="expiry-day" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="expiry-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiry-month" name="expiry-month" type="text" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="expiry-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiry-year" name="expiry-year" type="text" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>


            <div class="govuk-button-group">
              <a href="address-details-1" class="govuk-button">Save</a>
              <a href="../tasklist" class="govuk-button govuk-button--secondary">Cancel</a>         
            </div>

            <!--content 2/3 end-->
          
          </div>


        </div>
      </main>
    </div>
{% endblock %}
