{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-top-8">Assess this person’s risk</h1>

      <h2 class="govuk-heading-m govuk-!-margin-top-4">Risk management information</h2>


              <div class="govuk-form-group govuk-!-margin-top-4">
                <label class="govuk-label" for="moredetailPOM">
                  <strong>What information has the POM provided about the behaviour of George while in prison?</strong>
                </label>
                <div id="dob-hint" class="govuk-hint">
                  Find out if there are any concerns about them being released on HDC.
                </div>
                <textarea class="govuk-textarea" id="moredetailPOM" name="moredetailPOM" rows="5"></textarea>
              </div>


 

  <div class="govuk-form-group govuk-!-margin-top-8">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Does George need a mental health plan to help manage risk?
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="mentalHealth" name="mentalHealth" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="mentalHealth">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="mentalHealth-2" name="mentalHealth" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="mentalHealth-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>


  <div class="govuk-form-group govuk-!-margin-top-8">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Have you consulted with prison healthcare?
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="healthcare" name="healthcare" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="healthcare">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="healthcare-2" name="healthcare" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="healthcare-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>


  <div class="govuk-form-group govuk-!-margin-top-8">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Is there a victim liaison officer (VLO) for this case?
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="vloCase" name="vloCase" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="vloCase">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="vloCase-2" name="vloCase" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="vloCase-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>


 <!--VLO: Only to show if YES is selected--> 

  <div class="govuk-form-group govuk-!-margin-top-4">
    <label class="govuk-label" for="moreDetailvlo">Give details of any concerns victims have about George being released to the proposed address.</label>
    <textarea class="govuk-textarea" id="moreDetailvlo" name="moreDetailvlo" rows="5"></textarea>
  </div>

  <!--VLO: end--> 


  <div class="govuk-form-group govuk-!-margin-top-8">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Is there any information that cannot be disclosed to George?
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="infoDisclosure" name="infoDisclosure" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="infoDisclosure">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="infoDisclosure-2" name="infoDisclosure" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="infoDisclosure-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>


 <!--Only to show if YES is selected--> 

  <div class="govuk-form-group govuk-!-margin-top-4">
    <label class="govuk-label" for="moreDetaildisclosure">Give details of information that cannot be disclosed</label>
    <textarea class="govuk-textarea" id="moreDetaildisclosure" name="moreDetaildisclosure" rows="5"></textarea>
  </div>


  <h1 class="govuk-heading-m govuk-!-margin-top-8">Risk management decision</h1>

    
  <div class="govuk-form-group govuk-!-margin-top-4">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Can George be managed safely in the community if they are released to the proposed address?
      </legend>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="PPdecision" name="PPdecision" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="PPdecision">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="PPdecision-2" name="PPdecision" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="PPdecision-2">
              No
            </label>
          </div>
        </div>
    </fieldset>
  </div>


  <div class="govuk-form-group govuk-!-margin-top-4">
    <label class="govuk-label" for="moreDetailPPdecision">Add information to support your decision</label>
    <textarea class="govuk-textarea" id="moreDetailPPdecision" name="moreDetailPPdecision" rows="5"></textarea>
  </div>




  <div class="govuk-button-group">
    <a href="../tasklist.html" class="govuk-button">Save</a>        
  </div>


<!--<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Submit
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Cancel
  </button>
</div>-->

              </form>


      </div>
    </div>
  </main>
</div>

{% endblock %}
