{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l govuk-!-margin-top-8">
        Select someone's HDC application to work on</br>
      </h1>


     <!--Search field start-->
     
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
        
        
            <div class="moj-search govuk-!-margin-bottom-8">
        
              <form action="#" method="post">
            
                <div class="govuk-form-group">
                  <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                    Find an application
                  </label>
            
                  {% if (data.user=="admin") or (data.user=="decisionmaker") %}
                  <div id="search-hint" class="govuk-hint moj-search__hint" style="width: 470px;">
                    Search by name, prison number or probation practitioner
                  </div>
                  {% else %}
                  <div id="search-hint" class="govuk-hint moj-search__hint" style="width: 470px;">
                    Search by name, CRN or probation practitioner
                  </div>
                  {% endif %}
            
                  <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
                </div>
            
                <button class="govuk-button moj-search__button " data-module="govuk-button">
                  Search
                </button>
            
              </form>
            </div>
        
        
        </div>
        </div>
        
      <!--Search field start-->

      




      <!--sub nav start-->
      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        {% if data.user=="admin" %}
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="case-list-tab-one">Active applications</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="case-list-tab-two">Inactive applications</a>
          </li>
        </ul>
        {% elseif data.user=="probation" %}
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="case-list-tab-one">My cases</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="case-list-tab-two">Team cases</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="case-list-tab-three">Inactive applications</a>
          </li>
        </ul>
        {% elseif data.user=="decisionmaker" %}
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="case-list-tab-one">Active applications</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="case-list-tab-two">Inactive applications</a>
          </li>
        </ul>
        {% endif %}

      </nav>      
      <!--sub nav end-->


      <!--tabs start-->

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#yourwork" style="margin-left: -3px; margin-right: -3px;">
              To work on by you
            </a>
          </li>
          {% if data.user=="admin" %}
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#ppwork" style="margin-left: -3px; margin-right: -3px;">
              With probation
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#dmwork" style="margin-left: -3px; margin-right: -3px;">
              With decision maker
            </a>
          </li>
          {% elseif data.user=="probation" %}
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#cawork" style="margin-left: -3px; margin-right: -3px;">
              With prison admin
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#dmwork" style="margin-left: -3px; margin-right: -3px;">
              With decision maker
            </a>
          </li>
          {% elseif data.user=="decisionmaker" %}
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#cawork" style="margin-left: -3px; margin-right: -3px;">
              With prison admin
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#ppwork" style="margin-left: -3px; margin-right: -3px;">
              With probation
            </a>
          </li>
          {% endif %}
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#postponed" style="margin-left: -3px; margin-right: -3px;">
              Postponed
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#readyforrelease" style="margin-left: -3px; margin-right: -3px;">
              Assessment completed
            </a>
          </li>
        </ul>


        <div class="govuk-tabs__panel" id="yourwork">
          <h2 class="govuk-heading-l">To work on by you</h2>

          <!--content do do start-->
          
          <!--table start-->
          <table class="govuk-table" data-module="moj-sortable-table">
          
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
          
                <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 18%;">Name</th>
                {% if data.user=="admin" %}
                <th scope="col" class="govuk-table__header" aria-sort="none">POM</th>
                {% elseif data.user=="decisionmaker" %}
                <th scope="col" class="govuk-table__header" aria-sort="none">Probation practitioner</th>
                {% else %}
                {% endif %}
                <th scope="col" class="govuk-table__header" aria-sort="ascending">HDCED</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Working days to HDCED</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Last worked on by</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Task</th>
          
              </tr>
            </thead>
          
            <tbody class="govuk-table__body">


              {% if data.28daysapproval=="no" %}
              {% else %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if data.journey=="28daysjourney"%}
                  <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Lee, David</a>
                  {% else %}
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Lee, David</a>
                  {% endif %}
                </br><div class="govuk-hint govuk-!-font-size-16">
                    {% if data.user=="probation" %}CRN:
                    {% else %}
                    Prison number:
                    {% endif %} G93332
                  </div></td>
                {% if data.user=="probation"%}
                {% else %}
                <td class="govuk-table__cell">Aisha Thompson</td>
                {% endif %}
                <td class="govuk-table__cell" data-sort-value="1">{{ "today" |  duration(20) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">14</td>
                <td class="govuk-table__cell">
                  {% if data.user=="decisionmaker" %}
                  Mark Coombes
                  {% else %}
                  Jessica Smith
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if data.user=="decisionmaker" %}
                  Confirm if David can be released on HDC 
                  {% elseif data.user=="probation" %}
                  {% if data.journey=="28daysjourney"%}
                  <dd class="govuk-summary-list__value due-date" data-sort-value="1">
                    <span class="date overdue">Check addresses or community accommodation</span>
                    <span class="secondary overdue" style="width: 195px;"> 
                      Overdue on {{ "today" |  duration(-1) | govukDate("truncate") }}</span>
                  </dd>
                  {% else %}
                  Check addresses or community accommodation
                  {% endif %}
                  {% elseif data.28daysapproval=="yes" %}
                  Enter curfew addresses or CAS areas
                  {% elseif data.eligiblepresumedsuitable=="28days" %}
                  <dd class="govuk-summary-list__value due-date">
                    <span class="date overdue">Enter curfew addresses or CAS areas</span>
                    <span class="secondary overdue" style="width: 195px;"> 
                      Decision maker approval required</span>
                  </dd>
                  {% else %}
                  Assess eligibility and suitability
                  {% endif %}
                </td>
              </tr>
              {% endif %}



              {% if data.user=="admin"%}

              {% if data.securitycategory=="changed" %}
              {% else %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if data.journey=="ineligiblePreRelease"%}
                  <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">West, Bailey</a>
                  {% else %}
                  <a class="govuk-link govuk-link--no-visited-state" href="#">West, Bailey</a>
                  {% endif %}
                </br><div class="govuk-hint govuk-!-font-size-16">Prison number: G75698</div></td>
                {% if data.user=="probation"%}
                {% else %}
                <td class="govuk-table__cell">Aisha Thompson</td>
                {% endif %}
                <td class="govuk-table__cell" data-sort-value="4">{{ "today" |  duration(136) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">97</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">Assess eligibility and suitability</td>
              </tr>
              {% endif %}

              {% if data.ineligible=="yes"%}
              {% else %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if data.journey=="ineligiblejourney"%}
                  <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Rodriguez, Jose</a>
                  {% else %}
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Rodriguez, Jose</a>
                  {% endif %}
                </br><div class="govuk-hint govuk-!-font-size-16">Prison number: G56791</div></td>
                {% if data.user=="probation"%}
                {% else %}
                <td class="govuk-table__cell">Emily Zhang</td>
                {% endif %}
                <td class="govuk-table__cell" data-sort-value="3">{{ "today" |  duration(119) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">86</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">Assess eligibility and suitability</td>
              </tr>
              {% endif %}

              {% else %}
              {% endif %}


              {% if (data.journey=="eligiblejourney") and (data.sendChecksPrison=="yes") %}  
              {% else %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if data.journey=="eligiblejourney"%}
                  <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Jennings, George</a>
                  {% else %}
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Jennings, George</a>
                  {% endif %}
                </br>
                {% if data.user=="probation"%}
                <div class="govuk-hint govuk-!-font-size-16">CRN: G5613GT</div>
                {% else %}
                <div class="govuk-hint govuk-!-font-size-16">Prison number: G5613GT</div>
                {% endif %}
                </td>
                {% if data.user=="probation"%}
                {% else %}
                <td class="govuk-table__cell">Emily Zhang</td>
                {% endif %}
                <td class="govuk-table__cell" data-sort-value="2">{{ "today" |  duration(96) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">67</td>
                <td class="govuk-table__cell">
                  {% if data.user=="decisionmaker"%}
                  Jessica Smith
                  {% elseif data.user=="admin"%}

                  {% if (data.eligiblepresumedsuitable=="yes") %}
                  Jessica Smith
                  {% else %}
                  {% endif %}

                {% elseif data.user=="probation"%}
                  
                  {% if (data.OccupierChecks=="completed") and
                  (data.PoliceChecks=="completed") and
                  (data.SocialservicesChecks=="completed") and
                  (data.RiskChecks=="completed") and
                  (data.suitabilityDecisionRes=="completed") and
                  (data.managementDecision=="yes") %}
                  Mark Coombes
                  {% else %}
                  Jessica Smith
                  {% endif %}

                {% else %}
                {% endif %}
                </td>
                <td class="govuk-table__cell">
                    {% if data.user=="decisionmaker" %}
                    Confirm if George can be released on HDC 
                    {% elseif data.user=="probation" %}

                    {% if (data.OccupierChecks=="completed") and
                    (data.PoliceChecks=="completed") and
                    (data.SocialservicesChecks=="completed") and
                    (data.RiskChecks=="completed") and
                    (data.suitabilityDecisionRes=="completed") and
                    (data.managementDecision=="yes") %}
                    Send checks to prison
                    {% else %}

                    
                    
                    {% if data.reportedDelay=="yes" %}
                    <dd class="govuk-summary-list__value due-date">
                      <span class="date overdue">Check addresses or community accommodation</span>
                      <span class="secondary overdue" style="width: 195px;"> 
                        Overdue on {{ "today" |  duration(13) | govukDate("truncate") }}</br>
                      </span>
                    </dd>
                    {% elseif data.passedDeadline=="yes" %}
                      <dd class="govuk-summary-list__value due-date">
                        <span class="date overdue">Check addresses or community accommodation</span>
                        <span class="secondary overdue" style="width: 195px;"> 
                          Overdue on {{ "today" |  duration(5) | govukDate("truncate") }}</br>
                          <a class="govuk-link govuk-link--no-visited-state" href="./addresses/tasklist">Report delay</a>
                        </span>
                      </dd>
                    {% else %}
                    Check addresses or community accommodation
                    {% endif %}

                    {% endif %}

                  {% elseif data.user=="admin"%}

                    {% if (data.eligiblepresumedsuitable=="yes") %}
                    Enter curfew addresses and CAS areas
                    {% else %}
                    Assess eligibility and suitability
                    {% endif %}

                  {% else %}
                  {% endif %}
                </td>
              </tr>
              {% endif %}




              <!--not part of users group - for CA and PP-->
              {% if (data.journey=="cas2application") and (data.sendChecksPrison=="yes") %}  
              {% else %}  
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if (data.journey=="cas2application") or (data.user=="admin") %}
                  <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Rees, Ryan</a>
                  {% else %}
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Rees, Ryan</a>
                  {% endif %}
                </br><div class="govuk-hint govuk-!-font-size-16">
                  {% if data.user=="probation" %}CRN:
                  {% else %}
                  Prison number:
                  {% endif %} G87634</div></td>
                {% if (data.user=="admin") or (data.user=="decisionmaker") %}
                <td class="govuk-table__cell">Aisha Thompson</td>
                {% endif %}
                <td class="govuk-table__cell" data-sort-value="2">{{ "today" |  duration(100) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">70</td>
                <td class="govuk-table__cell">
                  {% if (data.cas2suitable=="yes") and (data.riskAssessed=="yes") %}
                    Mark Coombes
                  {% else %}
                    Jessica Smith
                  {% endif %}
                </td>
                {% if data.user=="decisionmaker" %}
                <td class="govuk-table__cell">Confirm if Ryan can be released on HDC </td>
                {% elseif data.user=="probation" %}
                <td class="govuk-table__cell">Consult the VLO and POM</td>
                {% elseif data.user=="admin" %}
                <td class="govuk-table__cell">Assess eligibility and suitability</td>
                {% endif %}
              </tr>
              {% endif %}


              <!--not part of users group - for CA and PP-->
              {% if (data.journey=="cas1application") and (data.sendChecksPrison=="yes") %}  
              {% else %}  
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if (data.journey=="cas1application") or (data.user=="admin") %}
                  <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Wallace, Lenny</a>
                  {% else %}
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Wallace, Lenny</a>
                  {% endif %}
                </br><div class="govuk-hint govuk-!-font-size-16">
                  {% if data.user=="probation" %}CRN:
                  {% else %}
                  Prison number:
                  {% endif %} G2431GT
                </div></td>
                {% if (data.user=="admin") or (data.user=="decisionmaker") %}
                <td class="govuk-table__cell">Aisha Thompson</td>
                {% endif %}
                <td class="govuk-table__cell" data-sort-value="3">{{ "today" |  duration(128) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">89</td>
                <td class="govuk-table__cell">
                  {% if (data.accomodationType=="cas1") and (data.riskAssessed=="yes") %}
                    Mark Coombes
                  {% else %}
                    Jessica Smith
                  {% endif %}
                </td>
                {% if data.user=="decisionmaker" %}
                <td class="govuk-table__cell">Confirm if Lenny can be released on HDC </td>
                {% elseif data.user=="probation" %}
                <td class="govuk-table__cell">Consult the VLO and POM</td>
                {% elseif data.user=="admin" %}
                <td class="govuk-table__cell">Assess eligibility and suitability</td>
                {% endif %}
              </tr>
              {% endif %}



              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if data.journey=="casNoPreference" %}
                  <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Murphy, Julian</a>
                  {% else %}
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Murphy, Julian</a>
                  {% endif %}
                  </br><div class="govuk-hint govuk-!-font-size-16">
                    {% if data.user=="probation" %}CRN:
                    {% else %}
                    Prison number:
                    {% endif %} GT63908
                    </div>
                </td>
                {% if (data.user=="admin") or (data.user=="decisionmaker") %}
                <td class="govuk-table__cell">Emily Zhang</td>
                {% else %}
                {% endif %}
                <td class="govuk-table__cell" data-sort-value="4">{{ "today" |  duration(130) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">91</td>
                <td class="govuk-table__cell">Jessica Smith</td>
                <td class="govuk-table__cell">
                  {% if data.user=="admin" %}
                  Assess eligibility and suitability
                  {% elseif data.user=="decisionmaker" %}
                  Confirm if Julian can be released on HDC
                  {% else %}
                  Check addresses or community accommodation
                  {% endif %}
                </td>
              </tr>




              {% if data.user=="probation" %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if data.journey=="unsuitableAddressCas" %}
                  <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Parker, Koby</a>
                  {% else %}
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Parker, Koby</a>
                  {% endif %}
                  </br><div class="govuk-hint govuk-!-font-size-16">CRN: GT63908</div>
                </td>
                <td class="govuk-table__cell" data-sort-value="4">{{ "today" |  duration(130) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">91</td>
                <td class="govuk-table__cell">Jessica Smith</td>
                <td class="govuk-table__cell">Check addresses or community accommodation</td>
              </tr>


              {% else %}
              {% endif %}

              



              
          
            </tbody>
          </table>
          <!--table end-->

          <!--content do do end-->

        </div>


        {% if (data.user=="admin") or (data.user=="decisionmaker") %}
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ppwork">
          <h2 class="govuk-heading-l">With probation</h2>

          <!--table start-->
          <table class="govuk-table" data-module="moj-sortable-table">
          
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
          
                <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Probation practitioner</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">HDCED</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Working days to HDCED</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Last worked on by</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Task</th>
          
              </tr>
            </thead>

          <!--content waiting start-->

          <tbody class="govuk-table__body">

            {% if data.user=="decisionmaker" %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" href="./case-overview-not-ready">North, Theodore</a>
              </br><div class="govuk-hint govuk-!-font-size-16">Prison number: G93332</div></td>
              <td class="govuk-table__cell">Aisha Thompson</td>
              <td class="govuk-table__cell" data-sort-value="1">{{ "today" |  duration(20) | govukDate("truncate") }}</td>
              <td class="govuk-table__cell">14</td>
              <td class="govuk-table__cell">Mark Coombes</td>
              <td class="govuk-table__cell">Check addresses or community accommodation</td>
            </tr>
            {% endif %}
            
                  
            {% for yourcase in data ['ppwork'] %}
            <tr class="govuk-table__row">
        
              <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="./case-overview">{{yourcase.name}}</a>
              </br><div class="govuk-hint govuk-!-font-size-16">
                {% if data.user=="probation" %}
                CRN:
                {% else %}
                Prison number:
                {% endif %} {{yourcase.prisonnumber}}</div></td>
        
              <td class="govuk-table__cell">{{yourcase.probationpractitioner}}</td>
              
              <td class="govuk-table__cell">{{yourcase.eligibilitydate}}</td>
        
              <td class="govuk-table__cell">{{yourcase.daysremaining}}</td>
        
              <td class="govuk-table__cell">{{yourcase.staffname}}</td>
        
              <td class="govuk-table__cell">{{yourcase.task}}</td>

            </tr>
            {% endfor %}
            
          </tbody>
          

      </table>
      
      <!--table end-->

<!--content waiting end-->

</div>
{% endif %}


                    


                  
  


        {% if (data.user=="admin") or (data.user=="probation") %}
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="dmwork">
          <h2 class="govuk-heading-l">With decision maker</h2>

          <!--content waiting start-->

                   <!--table start-->
                   <table class="govuk-table" data-module="moj-sortable-table">
          
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                  
                        <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                        {% if data.user=="probation" %}
                        {% else %}
                        <th scope="col" class="govuk-table__header" aria-sort="none">Probation practitioner</th>
                        {% endif %}
                        <th scope="col" class="govuk-table__header" aria-sort="none">HDCED</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Working days to HDCED</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Last worked on by</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Task</th>
                  
                      </tr>
                    </thead>


                    <tbody class="govuk-table__body">
                  
                      {% for yourcase in data ['dmwork'] %}
                      <tr class="govuk-table__row">
                  
                        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="./case-overview">{{yourcase.name}}</a>
                        </br><div class="govuk-hint govuk-!-font-size-16">
                          {% if data.user=="probation" %}
                          CRN:
                          {% else %}
                          Prison number:
                          {% endif %} {{yourcase.prisonnumber}}
                        </div></td>
                  
                        {% if data.user=="probation" %}
                        {% else %}
                        <td class="govuk-table__cell">{{yourcase.probationpractitioner}}</td>
                        {% endif %}

                        <td class="govuk-table__cell">{{yourcase.eligibilitydate}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.daysremaining}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.staffname}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.task}}</td>
        
                      </tr>
                      {% endfor %}

                    </tbody>

                  </table>
                  
                  <!--table end-->
        
          <!--content waiting end-->

        </div>
        {% endif %}



        {% if (data.user=="probation") or (data.user=="decisionmaker") %}
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="cawork">
          <h2 class="govuk-heading-l">With prison admin</h2>

          <!--content waiting start-->

                   <!--table start-->
                   <table class="govuk-table" data-module="moj-sortable-table">
          
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                  
                        <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                        {% if data.user=="probation" %}
                        {% else %}
                        <th scope="col" class="govuk-table__header" aria-sort="none">Probation practitioner</th>
                        {% endif %}
                        <th scope="col" class="govuk-table__header" aria-sort="none">HDCED</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Working days to HDCED</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Last worked on by</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Task</th>
                  
                      </tr>
                    </thead>


                    <tbody class="govuk-table__body">

                      {% if data.user=="probation"%}

                      
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          <a class="govuk-link govuk-link--no-visited-state" href="./case-overview-not-ready">North, Theodore</a>
                        </br><div class="govuk-hint govuk-!-font-size-16">Prison number: G93332</div></td>
                        <td class="govuk-table__cell" data-sort-value="1">{{ "today" |  duration(20) | govukDate("truncate") }}</td>
                        <td class="govuk-table__cell">14</td>
                        <td class="govuk-table__cell">Mark Coombes</td>
                        <td class="govuk-table__cell">Enter curfew addresses or CAS areas</td>
                      </tr>


                      {% if (data.journey=="eligiblejourney") and (data.sendChecksPrison=="yes") %}  
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Jennings, George</a>
                          </br><div class="govuk-hint govuk-!-font-size-16">CRN: G5613GT</div>
                        </td>
                        <td class="govuk-table__cell" data-sort-value="2">{{ "today" |  duration(96) | govukDate("truncate") }}</td>
                        <td class="govuk-table__cell">96</td>
                        <td class="govuk-table__cell">Mark Coombes</td>
                        <td class="govuk-table__cell">Review application and send for decision</td>
                      </tr>
                      {% elseif (data.journey=="cas2application") and (data.sendChecksPrison=="yes") %}  
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Rees, Ryan</a>
                          </br><div class="govuk-hint govuk-!-font-size-16">CRN: G87634</div></td>
                        <td class="govuk-table__cell" data-sort-value="2">{{ "today" |  duration(100) | govukDate("truncate") }}</td>
                        <td class="govuk-table__cell">100</td>
                        <td class="govuk-table__cell">Mark Coombes</td>
                        <td class="govuk-table__cell">Review application and send for decision</td>
                      </tr>
                      {% elseif (data.journey=="cas1application") and (data.sendChecksPrison=="yes") %}  
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Wallace, Lenny</a>
                          </br><div class="govuk-hint govuk-!-font-size-16">CRN: G2431GT</div></td>
                        <td class="govuk-table__cell" data-sort-value="3">{{ "today" |  duration(119) | govukDate("truncate") }}</td>
                        <td class="govuk-table__cell">119</td>
                        <td class="govuk-table__cell">Mark Coombes</td>
                        <td class="govuk-table__cell">Review application and send for decision</td>
                      </tr>
                      {% else %}
                      {% endif %}

                      {% endif %}

                  
                      {% if data.user=="probation"%}

                      {% for yourcase in data ['cawork'] %}
                      <tr class="govuk-table__row">
                  
                        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="./case-overview">{{yourcase.name}}</a>
                        </br><div class="govuk-hint govuk-!-font-size-16">CRN: {{yourcase.prisonnumber}}</div></td>
                  
                        <td class="govuk-table__cell">{{yourcase.eligibilitydate}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.daysremaining}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.staffname}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.task}}</td>
        
                      </tr>
                      {% endfor %}

                      {% elseif data.user=="decisionmaker"%}

                      {% for yourcase in data ['cawork'] %}
                      <tr class="govuk-table__row">
                  
                        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="./case-overview">{{yourcase.name}}</a>
                        </br><div class="govuk-hint govuk-!-font-size-16">CRN: {{yourcase.prisonnumber}}</div></td>

                        <td class="govuk-table__cell">{{yourcase.probationpractitioner}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.eligibilitydate}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.daysremaining}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.staffname}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.task}}</td>
        
                      </tr>
                      {% endfor %}

                      {% endif %}


                    </tbody>

                  </table>
                  
                  <!--table end-->
        
          <!--content waiting end-->

        </div>
        {% endif %}





                    


                  

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="postponed">
          <h2 class="govuk-heading-l">Postponed</h2>

          <!--content postponed start-->

          

<!--table start-->
<table class="govuk-table" data-module="moj-sortable-table">
          
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 20%;">Name</th>
      {% if data.user=="probation"%}
      {% else %}
      <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 20%;">Probation practitioner</th>
      {% endif %}
      <th scope="col" class="govuk-table__header" aria-sort="ascending" style="width: 15%;">HDCED</th>
      <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 18%;">Working days to HDCED</th>
      <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 15%;">Postponed on</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Postponement reason</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Chen, Wei</a>
      </br><div class="govuk-hint govuk-!-font-size-16">
      {% if data.user=="probation"%}
      CRN: G98765
      {% else %}
      Prison number: G98765
      {% endif %}
      </div></td>
      {% if data.user=="probation"%}
      {% else %}
      <td class="govuk-table__cell">Aisha Thompson</td>
      {% endif %}
      <td class="govuk-table__cell" data-sort-value="1">{{ "today" |  duration(10) | govukDate("truncate") }}</td>
      <td class="govuk-table__cell">10</td>
      <td class="govuk-table__cell">{{ "today" |  duration(-3) | govukDate("truncate") }}</td>
      <td class="govuk-table__cell">Have an application pending with the unduly lenient sentence scheme</td>
    </tr>

  </tbody>
</table>

<!--table end-->


        
          <!--content postponed end-->

        </div>


        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="readyforrelease">
          <h2 class="govuk-heading-l">Assessment completed</h2>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
          
          <p class="govuk-body">People in this list have been checked to make sure they can still be released on HDC after having their application approved.</p>
          <p class="govuk-body">
            {% if data.user=="admin" %}
            <a class="govuk-link govuk-link--no-visited-state" href="#">Go to Create and vary a licence</a> to view and print their licence. 
            {% elseif (data.user=="probation") or (data.user=="decisionmaker") %}
            <a class="govuk-link govuk-link--no-visited-state" href="#">Go to Create and vary a licence</a> if you want to check their licence.
            {% endif %}
          </p>

          </div>
            </div>
          

          <!--content ready for release start-->
        
          <!--table start-->
          <table class="govuk-table" data-module="moj-sortable-table">
          
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
          
                <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                {% if data.user=="probation" %}
                {% else %}
                <th scope="col" class="govuk-table__header" aria-sort="none">Probation practitioner</th>
                {% endif %}
                <th scope="col" class="govuk-table__header" aria-sort="ascending">HDCED</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 18%;">Working days to HDCED</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Last worked on by</th>
                <!--<th scope="col" class="govuk-table__header" aria-sort="none">Task</th>-->
          
              </tr>
            </thead>
          
            <tbody class="govuk-table__body">
          
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Khan, Amir</a>
                </br><div class="govuk-hint govuk-!-font-size-16">
                {% if data.user=="probation" %}
                CRN: G12345
                {% else %}
                Prison number: G12345
                {% endif %}
                </div></td>
                {% if data.user=="probation" %}
                {% else %}
                <td class="govuk-table__cell">Emily Zhang</td>
                {% endif %}
                <td class="govuk-table__cell" data-sort-value="1">{{ "today" |  duration(1) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">Priya Sharma</td>
                <!--<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View and print licence PDF</a></td>-->
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Patel, Rajesh</a>
                </br><div class="govuk-hint govuk-!-font-size-16">
                {% if data.user=="probation" %}
                CRN: G67890
                {% else %}
                Prison number: G67890
                {% endif %}
                </div></td>
                {% if data.user=="probation" %}
                {% else %}
                <td class="govuk-table__cell">Michael Adeyemi</td>
                {% endif %}
                <td class="govuk-table__cell" data-sort-value="2">{{ "today" |  duration(2) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">Jamal Johnson</td>
                <!--<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View and print licence PDF</a></td>-->
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Gonzalez, Miguel</a>
                </br><div class="govuk-hint govuk-!-font-size-16">
                {% if data.user=="probation" %}
                CRN: G54321
                {% else %}
                Prison number: G54321
                {% endif %}
                </div></td>
                {% if data.user=="probation" %}
                {% else %}
                <td class="govuk-table__cell">Michael Adeyemi</td>
                {% endif %}
                <td class="govuk-table__cell" data-sort-value="3">{{ "today" |  duration(3) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Aisha Williams</td>
                <!--<td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View and print licence PDF</a></td>-->
              </tr>
          
            </tbody>
          </table>
          <!--table end-->

          <!--content ready for release end-->
      
        </div>




      </div>

      <!--tabs end-->





      </div>
    </div>
  </main>
</div>

{% endblock %}
