{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l govuk-!-margin-top-8">
        Assess for early release cases</br>
      </h1>


     <!--Search field start-->
     
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
        
        
            <div class="moj-search govuk-!-margin-bottom-8">
        
              <form action="#" method="post">
            
                <div class="govuk-form-group">
                  <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                    Find a case
                  </label>
            
                  {% if (data.user=="admin") or (data.user=="decisionmaker") %}
                  <div id="search-hint" class="govuk-hint moj-search__hint" style="width: 470px;">
                    Search by name, prison number or probation practitioner
                  </div>
                  {% else %}
                  <div id="search-hint" class="govuk-hint moj-search__hint" style="width: 470px;">
                    Search by name, CRN or probation practitioner
                  </div>
                  {% endif %}
            
                  <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
                </div>
            
                <button class="govuk-button moj-search__button " data-module="govuk-button">
                  Search
                </button>
            
              </form>
            </div>
        
        
        </div>
        </div>
        
      <!--Search field start-->

      <!--sub nav start-->
      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="case-list-active">Active</a>
          </li>
      
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="case-list-inactive">Inactive</a>
          </li>
        </ul>
      
      </nav>      
      <!--sub nav end-->


      <!--tabs start-->

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#yourwork">
              To work on by you
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#otherswork">
              To work on by others
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#postponed">
              Postponed
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#readyforrelease">
              Ready for release
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#released">
              Released on HDC
            </a>
          </li>
        </ul>


        <div class="govuk-tabs__panel" id="yourwork">
          <h2 class="govuk-heading-l">To work on by you</h2>

          <!--content do do start-->
          <p><a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Jose Rodriguez - Scenario 1 (Ineligible)</a></p>
          <p><a class="govuk-link govuk-link--no-visited-state" href="./case-overview">George Jennings - Scenario 2</a></p>
          <p><a class="govuk-link govuk-link--no-visited-state" href="./case-overview">David Lee - Scenario 3 (28 days approval)</a></p>


          <!--table start-->
          <table class="govuk-table" data-module="moj-sortable-table">
          
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
          
                <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
          
                <th scope="col" class="govuk-table__header" aria-sort="none">HDCED</th>
          
                <th scope="col" class="govuk-table__header" aria-sort="none">Working days to HDCED</th>
          
                <th scope="col" class="govuk-table__header" aria-sort="none">Last worked on by</th>
          
                <th scope="col" class="govuk-table__header" aria-sort="none">Task</th>
          
              </tr>
            </thead>
          
            <tbody class="govuk-table__body">
          
              {% for task in data['tasks'] %}
              <tr class="govuk-table__row">
          
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="./case-overview-{{task.prisonnumber}}">{{task.name}}</a>
                </br>{{task.prisonnumber}}</td>
          
                <td class="govuk-table__cell">{{task.eligibilitydate}}</td>
          
                <td class="govuk-table__cell">{{task.daysremaining}}</td>
          
                <td class="govuk-table__cell">{{task.staffname}}</td>
          
                <td class="govuk-table__cell">{{task.caseprogress}}</td>

              </tr>
              {% endfor %}
          
            </tbody>
          </table>
          
          <!--table end-->

          <!--content do do end-->

        </div>


        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="otherswork">
          <h2 class="govuk-heading-l">To work on by others</h2>

          <!--content waiting start-->

          <!--table start-->






          <!--table end-->
        
          <!--content waiting end-->

        </div>


        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="postponed">
          <h2 class="govuk-heading-l">Postponed</h2>

          <!--content postponed start-->

          <!--table start-->






          <!--table end-->
        
          <!--content postponed end-->

        </div>


        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="readyforrelease">
          <h2 class="govuk-heading-l">Ready for release</h2>

          <!--content ready for release start-->
        
          <!--table start-->






          <!--table end-->

          <!--content ready for release end-->
      
        </div>


        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="released">
          <h2 class="govuk-heading-l">Released on HDC</h2>

          <!--content ready for release start-->
          <!--table start-->






          <!--table end-->
        
          <!--content ready for release end-->
      
        </div>


      </div>

      <!--tabs end-->





      </div>
    </div>
  </main>
</div>

{% endblock %}
