{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l govuk-!-margin-top-8">
        Select someone's HDC application to work on</br>
      </h1>


     <!--Search field start-->
     
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
        
        
            <div class="moj-search govuk-!-margin-bottom-8">
        
              <form action="#" method="post">
            
                <div class="govuk-form-group">
                  <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                    Find an application
                  </label>
            
                  {% if (data.user=="admin") or (data.user=="decisionmaker") %}
                  <div id="search-hint" class="govuk-hint moj-search__hint" style="width: 470px;">
                    Search by name, prison number or probation practitioner
                  </div>
                  {% else %}
                  <div id="search-hint" class="govuk-hint moj-search__hint" style="width: 470px;">
                    Search by name, CRN or probation practitioner
                  </div>
                  {% endif %}
            
                  <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
                </div>
            
                <button class="govuk-button moj-search__button " data-module="govuk-button">
                  Search
                </button>
            
              </form>
            </div>
        
        
        </div>
        </div>
        
      <!--Search field start-->

      <!--sub nav start-->
      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="case-list-active">Active</a>
          </li>
      
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="case-list-inactive">Inactive</a>
          </li>
        </ul>
      
      </nav>      
      <!--sub nav end-->


      <!--tabs start-->

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#yourwork">
              To work on by you
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#otherswork">
              To work on by others
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#postponed">
              Postponed
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#readyforrelease">
              Ready for release
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#released">
              Released on HDC
            </a>
          </li>
        </ul>


        <div class="govuk-tabs__panel" id="yourwork">
          <h2 class="govuk-heading-l">To work on by you</h2>

          <!--content do do start-->
          
          <!--table start-->
          <table class="govuk-table" data-module="moj-sortable-table">
          
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
          
                <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 18%;">Name</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Probation practitioner</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending">HDCED</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Working days to HDCED</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Last worked on by</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Task</th>
          
              </tr>
            </thead>
          
            <tbody class="govuk-table__body">

              {% if data.ineligible=="yes"%}
              {% else %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if data.journey=="ineligiblejourney"%}
                  <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Rodriguez, Jose</a>
                  {% else %}
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Rodriguez, Jose</a>
                  {% endif %}
                </br><div class="govuk-hint govuk-!-font-size-16">Prison nr: G56791</div></td>
                <td class="govuk-table__cell">Emily Zhang</td>
                <td class="govuk-table__cell" data-sort-value="3">{{ "today" |  duration(119) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">100</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">Assess eligibility and suitability</td>
              </tr>
              {% endif %}

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if data.journey=="eligiblejourney"%}
                  <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Jennings, George</a>
                  {% else %}
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Jennings, George</a>
                  {% endif %}
                </br><div class="govuk-hint govuk-!-font-size-16">Prison nr: G5613GT</div></td>
                <td class="govuk-table__cell">Michael Adeyemi</td>
                <td class="govuk-table__cell" data-sort-value="2">{{ "today" |  duration(96) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">96</td>
                <td class="govuk-table__cell">
                  {% if (data.eligiblepresumedsuitable=="yes") %}
                  Jessica Smith
                  {% else %}
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if (data.eligiblepresumedsuitable=="yes") %}
                  Enter curfew addresses and CAS areas
                  {% else %}
                  Assess eligibility and suitability
                  {% endif %}
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {% if data.journey=="28daysjourney"%}
                  <a class="govuk-link govuk-link--no-visited-state" href="./case-overview">Lee, David</a>
                  {% else %}
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Lee, David</a>
                  {% endif %}
                </br><div class="govuk-hint govuk-!-font-size-16">Prison nr: G93332</div></td>
                <td class="govuk-table__cell">Aisha Thompson</td>
                <td class="govuk-table__cell" data-sort-value="1">{{ "today" |  duration(100) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">100</td>
                <td class="govuk-table__cell">Jessica Smith</td>
                <td class="govuk-table__cell">Enter curfew addresses or CAS areas</td>
              </tr>

              
          
            </tbody>
          </table>
          
          <!--table end-->

          <!--content do do end-->

        </div>


        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="otherswork">
          <h2 class="govuk-heading-l">To work on by others</h2>

          <!--content waiting start-->

                   <!--table start-->
                   <table class="govuk-table" data-module="moj-sortable-table">
          
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                  
                        <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Probation practitioner</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">HDCED</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Working days to HDCED</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Last worked on by</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none">Task</th>
                  
                      </tr>
                    </thead>
                  
                    <tbody class="govuk-table__body">
                  
                      {% for yourcase in data ['ppdmcases'] %}
                      <tr class="govuk-table__row">
                  
                        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="./case-overview">{{yourcase.name}}</a>
                        </br><div class="govuk-hint govuk-!-font-size-16">Prison nr: {{yourcase.prisonnumber}}</div></td>
                  
                        <td class="govuk-table__cell">{{yourcase.probationpractitioner}}</td>

                        <td class="govuk-table__cell">{{yourcase.eligibilitydate}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.daysremaining}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.staffname}}</td>
                  
                        <td class="govuk-table__cell">{{yourcase.task}}</td>
        
                      </tr>
                      {% endfor %}
                  
                    </tbody>
                  </table>
                  
                  <!--table end-->
        
          <!--content waiting end-->

        </div>


        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="postponed">
          <h2 class="govuk-heading-l">Postponed</h2>

          <!--content postponed start-->

          

<!--table start-->
<table class="govuk-table" data-module="moj-sortable-table">
          
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 20%;">Name</th>
      <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 20%;">Probation practitioner</th>
      <th scope="col" class="govuk-table__header" aria-sort="ascending" style="width: 15%;">HDCED</th>
      <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 18%;">Working days to HDCED</th>
      <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 15%;">Postponed on</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Postponement reason</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Chen, Wei</a>
      </br><div class="govuk-hint govuk-!-font-size-16">Prison nr: G98765</div></td>
      <td class="govuk-table__cell">Aisha Thompson</td>
      <td class="govuk-table__cell" data-sort-value="1">{{ "today" |  duration(10) | govukDate("truncate") }}</td>
      <td class="govuk-table__cell">10</td>
      <td class="govuk-table__cell">{{ "today" |  duration(-3) | govukDate("truncate") }}</td>
      <td class="govuk-table__cell">Have an application pending with the unduly lenient sentence scheme</td>
    </tr>

  </tbody>
</table>

<!--table end-->


        
          <!--content postponed end-->

        </div>


        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="readyforrelease">
          <h2 class="govuk-heading-l">Ready for release</h2>

          <!--content ready for release start-->
        
          <!--table start-->
          <table class="govuk-table" data-module="moj-sortable-table">
          
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
          
                <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Probation practitioner</th>
                <th scope="col" class="govuk-table__header" aria-sort="ascending">HDCED</th>
                <th scope="col" class="govuk-table__header" aria-sort="none" style="width: 18%;">Working days to HDCED</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Last worked on by</th>
                <th scope="col" class="govuk-table__header" aria-sort="none">Task</th>
          
              </tr>
            </thead>
          
            <tbody class="govuk-table__body">
          
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Khan, Amir</a>
                </br><div class="govuk-hint govuk-!-font-size-16">Prison nr: G12345</div></td>
                <td class="govuk-table__cell">Emily Zhang</td>
                <td class="govuk-table__cell" data-sort-value="1">{{ "today" |  duration(1) | govukDate("truncate") }}</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">Priya Sharma</td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View and print licence PDF</a></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Patel, Rajesh</a>
                </br><div class="govuk-hint govuk-!-font-size-16">Prison nr: G67890</div></td>
                <td class="govuk-table__cell">Michael Adeyemi</td>
                <td class="govuk-table__cell" data-sort-value="2">{{ "today" |  duration(2) | govukDate }}</td>
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">Jamal Johnson</td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View and print licence PDF</a></td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Gonzalez, Miguel</a>
                </br><div class="govuk-hint govuk-!-font-size-16">Prison nr: G54321</div></td>
                <td class="govuk-table__cell">Michael Adeyemi</td>
                <td class="govuk-table__cell" data-sort-value="3">{{ "today" |  duration(3) | govukDate }}</td>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Aisha Williams</td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View and print licence PDF</a></td>
              </tr>
          
            </tbody>
          </table>
          
          <!--table end-->

          <!--content ready for release end-->
      
        </div>


        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="released">
          <h2 class="govuk-heading-l">Released on HDC</h2>

          <!--content ready for release start-->
          
                    <!--table start-->
                    <table class="govuk-table" data-module="moj-sortable-table">
          
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                    
                          <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
                          <th scope="col" class="govuk-table__header" aria-sort="none">Probation practitioner</th>
                          <th scope="col" class="govuk-table__header" aria-sort="none">HDCAD</th>
                          <th scope="col" class="govuk-table__header" aria-sort="descending">CRD</th>
                          <th scope="col" class="govuk-table__header" aria-sort="none">Task</th>
                    
                        </tr>
                      </thead>
                    
                      <tbody class="govuk-table__body">
                    
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Santos, Miguel</a>
                          </br><div class="govuk-hint govuk-!-font-size-16">Prison nr: G92638</div></td>
                          <td class="govuk-table__cell">Aisha Thompson</td>
                          <td class="govuk-table__cell">{{ "today" |  duration(-20) | govukDate("truncate") }}</td>
                          <td class="govuk-table__cell" data-sort-value="3">{{ "today" |  duration(-9) | govukDate("truncate") }}</td>
                          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View and print licence PDF</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Patel, Rakesh</a>
                          </br><div class="govuk-hint govuk-!-font-size-16">Prison nr: G58342</div></td>
                          <td class="govuk-table__cell">Michael Adeyemi</td>
                          <td class="govuk-table__cell">{{ "today" |  duration(-40) | govukDate("truncate") }}</td>
                          <td class="govuk-table__cell" data-sort-value="2">{{ "today" |  duration(-31) | govukDate("truncate") }}</td>
                          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View and print licence PDF</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">Ahmed, Omar</a>
                          </br><div class="govuk-hint govuk-!-font-size-16">Prison nr: G73425</div></td>
                          <td class="govuk-table__cell">Emily Zhang</td>
                          <td class="govuk-table__cell">{{ "today" |  duration(-90) | govukDate("truncate") }}</td>
                          <td class="govuk-table__cell" data-sort-value="1">{{ "today" |  duration(-79) | govukDate("truncate") }}</td>
                          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View and print licence PDF</a></td>
                        </tr>
                    
                      </tbody>
                    </table>
                    
                    <!--table end-->
        
          <!--content ready for release end-->
      
        </div>


      </div>

      <!--tabs end-->





      </div>
    </div>
  </main>
</div>

{% endblock %}
