{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<div class="govuk-width-container govuk-!-margin-top-8">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        
       
          

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Eligibility for Approved Premises (CAS-1) confirmed
          </h1>
        </div>


        <h2 class="govuk-heading-m govuk-!-margin-top-6">Next steps</h2>

        <p class="govuk-body">
          Make a referral using the  <a class="govuk-link" href="https://approved-premises.hmpps.service.justice.gov.uk/">CAS-1 service.</a> You must also record when you have submitted the application and then enter the outcome in this service.

        </p>
        

        
        <form action="../../case-overview" method="post" novalidate>

        
        <div class="govuk-button-group" style="margin-top: 40px;">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Return to application overview
          </button>
        </div>
        
        </form>


        <p class="govuk-body" style="margin-top: 50px; margin-bottom: -50px;">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
