{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-top-8">Suitability decision</h1>

  <div class="govuk-form-group govuk-!-margin-top-4">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Is this address suitable for George to be released to?
      </legend>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="suitabilityDecision" name="suitabilityDecision" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="suitabilityDecision">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="suitabilityDecision-2" name="suitabilityDecision" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="suitabilityDecision">
              No
            </label>
          </div>
        </div>
    </fieldset>
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label" for="moreDetailsuitability">Add information to support your decision</label>
    <textarea class="govuk-textarea" id="moreDetailsuitability" name="moreDetailsuitability" rows="5"></textarea>
  </div>


  <div class="govuk-form-group  govuk-!-margin-top-8">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Do you need to add any more information about George or the proposed address for the monitoring contractor? 
      </legend>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="helpEMS" name="helpEMS" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="helpEMS">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="helpEMS-2" name="helpEMS" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="helpEMS-2">
              No
            </label>
          </div>
        </div>
    </fieldset>
  </div>


  <div class="govuk-form-group">
    <label class="govuk-label" for="moreDetailhelpEMS">Add more information</label>
    <textarea class="govuk-textarea" id="moreDetailhelpEMS" name="moreDetailhelpEMS" rows="5"></textarea>
  </div>


  
  <div class="govuk-button-group">
    <a href="address-details-1" class="govuk-button">Save</a>
    <a href="../tasklist" class="govuk-button govuk-button--secondary">Cancel</a>         
  </div>
  

  
 
      </div>
    </div>
  </main>
</div>
{% endblock %}
