{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-static-margin-top-6">Confirm if George can be released on HDC</h1>

      <h3 class="govuk-heading-m govuk-!-static-margin-top-6">Check if an address is suitable</h3>

        <p class="govuk-body">This information has been completed by Mark Coombes, this person’s allocated probation practitioner.</p>

  



    <!--card start-->
<div class="govuk-summary-card">

<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-summary-card__title">
    Proposed address
  </h2>
</div>

<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
          4 Inner Street</br>
          Grantham</br>
          NG31 6HN
      </dt>
      <!--<dd class="govuk-summary-list__key">
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>-->
    </div>


  </dl>
</div>

</div>
<!--card end-->



 
    <!--card start-->
<div class="govuk-summary-card">

<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-summary-card__title">
    Details of residents
  </h2>
</div>

<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Main occupier
      </dt>
      <dd class="govuk-summary-list__value">
        Leanna Martin
      </dd>
      <dd class="govuk-summary-list__value">
        Mother
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Other residents	
      </dt>
      <dd class="govuk-summary-list__value">
        Greg Martin
      </dd>
      <dd class="govuk-summary-list__value">
        Brother</br>
        Age: 17</br>
        Date of birth: 2 May 2007
      </dd>
    </div>


  </dl>
</div>

</div>
<!--card end-->




    <h4 class="govuk-heading-s govuk-!-static-margin-top-6">Suitability checks</h4>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <!--check your answers start-->
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Have you visited this address in person?
            </dd>
            <dt class="govuk-summary-list__key">
              Yes
            </dt>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Has the main occupier given informed consent for George to be released here?
            </dd>
            <dt class="govuk-summary-list__key">
              Yes
            </dt>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Is the address connected to an electricity supply?
            </dd>
            <dt class="govuk-summary-list__key">
              Yes
            </dt>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              What information have you found from the police and children’s services about the proposed address?
            </dd>
            <dt class="govuk-summary-list__key">
              Checks have been completed with police for Mr Jennings. Also DV checks and child safeguarding checks completed.
            </dt>
            <!--<dd class="govuk-summary-list__actions">
            </dd>-->
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Is this address suitable for George to be released to?
            </dd>
            <dt class="govuk-summary-list__key">
              Yes
            </dt>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <!--<div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Information to support your decision
            </dd>
            <dt class="govuk-summary-list__key">
             –
            </dt>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>-->
      <!--check your answers end-->
      </div>
      </div>


      <h3 class="govuk-heading-m govuk-!-static-margin-top-6">Assess this person’s risk</h3>

      <p class="govuk-body">This information has been completed by Mark Coombes, this person’s allocated probation practitioner.</p>
        

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <!--check your answers start-->
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                What information has the POM provided about the behaviour of George while in prison?
              </dd>
              <dt class="govuk-summary-list__key">
                Mr Jennings has made good progress in custody
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Does George need a mental health plan to help manage risk?
              </dd>
              <dt class="govuk-summary-list__key">
                No
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Have you consulted with prison healthcare?
              </dd>
              <dt class="govuk-summary-list__key">
                No
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Is there a victim liaison officer (VLO) for George?
              </dd>
              <dt class="govuk-summary-list__key">
                No
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <!--<div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Give details of any concerns victims have about George being released to the proposed address. the victims have. For example, about licence conditions.
              </dd>
              <dt class="govuk-summary-list__key">
                –
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>-->
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Is there any information that cannot be disclosed to George?
              </dd>
              <dt class="govuk-summary-list__key">
                No
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <!--<div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Give details of information that cannot be disclosed.
              </dd>
              <dt class="govuk-summary-list__key">
                –
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>-->
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Can George be managed safely in the community if they are released to the proposed address?
              </dd>
              <dt class="govuk-summary-list__key">
                Yes
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <!--<div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Add information to support your decision
              </dd>
              <dt class="govuk-summary-list__key">
                 –
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>-->
        <!--check your answers end-->
        </div>
        </div>



        <h3 class="govuk-heading-m govuk-!-static-margin-top-6">Pre-release checks</h3>

      <p class="govuk-body">This information has been completed by Jessica Smith at HMP Wandsworth.</p>
        

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <!--check your answers start-->
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
  
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Has George committed an offence in prison that is unresolved with the police or independent adjudicator? 
              </dd>
              <dt class="govuk-summary-list__key">
                No
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Is George currently on remand?
              </dd>
              <dt class="govuk-summary-list__key">
                No
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Is George subject to a confiscation order?
              </dd>
              <dt class="govuk-summary-list__key">
                No
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Is there an outstanding application under the unduly lenient scheme for George?
              </dd>
              <dt class="govuk-summary-list__key">
                No
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Is George currently segregated (except solely for their own protection)?
              </dd>
              <dt class="govuk-summary-list__key">
                No
              </dt>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            </div>
        <!--check your answers end-->
        </div>

      


      <h2 class="govuk-heading-l govuk-!-static-margin-top-6">Release decision</h2>


<!--new-->

<form method="post" action="">
  
<div class="govuk-form-group">
  <div class="govuk-radios govuk-radios--inline">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      Have there been any changes in this person’s behaviour?
    </legend>
    <div class="govuk-hint">You can check with their POM.</div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="interviewNeeds" name="interviewNeeds" type="radio" value="yes">
      <label class="govuk-label govuk-radios__label" for="interviewNeeds">
        Yes
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="interviewNeeds-2" name="interviewNeeds" type="radio" value="no">
      <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
        No
      </label>
    </div>
  </div>
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="more-detail">
    Add more information   
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<div class="govuk-radios govuk-radios--inline govuk-!-margin-top-8">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    Is this information up to date?
  </legend>
  <div class="govuk-hint">Select no if there has been a change in this person’s behaviour or circumstances.</div>
  <div class="govuk-radios__item">
    <input class="govuk-radios__input" id="infoUptodate" name="infoUptodate" type="radio" value="yes">
    <label class="govuk-label govuk-radios__label" for="infoUptodate">
      Yes
    </label>
  </div>
  <div class="govuk-radios">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="infoUptodate-2" name="infoUptodate" type="radio" value="no">
      <label class="govuk-label govuk-radios__label" for="infoUptodate-2">
        No
      </label>
    </div>
  </div>
</div>


  <div class="govuk-radios govuk-radios--inline govuk-!-margin-top-8">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      Can this person be released on HDC?
    </legend>    
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="hdc-release" name="hdc-release" type="radio" value="yes">
      <label class="govuk-label govuk-radios__label" for="hdc-release">
        Yes
      </label>
    </div>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="hdc-release-2" name="hdc-release" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="hdc-release-2">
         No
        </label>
      </div>
    </div>
  </div>
      <br /><br />


      <div class="govuk-form-group">
        <label class="govuk-label" for="more-detail">
          Add more information to support your decision (optional)
        </label>
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
      </div>




    <div class="govuk-button-group">
      <a href="./confirmation" class="govuk-button">Submit</a></br>
      <a href="../case-overview.html" class="govuk-button govuk-button--secondary">Cancel</a></br>
    </div>

    <!--<div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Submit
    </button>
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </button>
  </div>-->

  </div>
</form>


             


      </div>
    </div>
  </main>
</div>

{% endblock %}
