{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l govuk-!-static-margin-top-6">
        View address history
      </h1>


<!--banner start-->
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-body"><strong>This address has previously been through checks 2 times. [working content]</strong></p>
  </div>
</div>

<!--banner end-->


<!--Preferred address start-->

<!--card start-->
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Preferred address
    </h2>
  </div>
  
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            4 Inner Street</br>
            Grantham</br>
            NG31 6HN
        </dt>
      </div>
  
  
    </dl>
  </div>
  
  </div>
  <!--card end-->

  <h3 class="govuk-heading-s">Details of residents</h3>

  <!--card start-->
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Main occupier
    </h2>
  </div>
  
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Leanna Martin
        </dt>
        <dd class="govuk-summary-list__value">
          Mother
        </dd>
        <dd class="govuk-summary-list__actions" style="width: 200px;">
          <a class="govuk-link" href="#">Change or remove</a>
        </dd>
      </div>
  
    </dl>
  </div>
  
  </div>
  <!--card end-->

<!--card start-->
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Other residents
    </h2>
  </div>
  
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Greg Martin
        </dt>
        <dd class="govuk-summary-list__value">
          Brother
        </dd>
        <dd class="govuk-summary-list__actions" style="width: 200px;">
          <a class="govuk-link" href="#">Change or remove</a>
        </dd>
      </div>
  
    </dl>
  </div>
  
  </div>
  <!--card end-->




  <h2 class="govuk-heading-m">Address history</h2>


<!--timeline start-->

<div class="moj-timeline">
  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Address assessed as unsuitable for HDC release</h2>

      <p class="moj-timeline__byline">by Probation Officer</p>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">19 September 2021</time>
    </p>

  </div>



  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Address assessed as suitable for HDC release</h2>

      <p class="moj-timeline__byline">by Probation Officer</p>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-07T12:32:00.000Z">28 August 2021</time>
    </p>

  </div>

  

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Address submitted</h2>

      <p class="moj-timeline__byline">by HMP Thameside</p>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-05-21T13:15:00.000Z">11 July 2021</time>
    </p>

  </div>
</div>

<!--timeline end-->



      </div>
    </div>
  </main>
</div>

{% endblock %}
