{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:20">Back</a>
{% endblock %}

{% block content %}
{% include "includes/layouts/personaldetails.html" %}


  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v3/afer/address-input/add-another" method="post" novalidate>
        <input type="hidden" name="postcodelookup" value="two">


    <!--START set dynamic radio hide/show text-->
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {% set textHtmlOther %}
    {{ govukTextarea({
    name: "moreDetail",
    id: "more-detail",
    label: {
    text: "Add more information "
       }
    }) }}
    {% endset -%}

    <!--END set dynamic radio hide/show text-->

    {{ govukRadios({
      name: "convictions",
      fieldset: {
        legend: {
          text: "Has this person given details of convictions or cautions for offences against the residents or neighbours of this address?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },

      items: [
     
      {
        value: "yes",
        text: "Yes",
        conditional: {
          html: textHtmlOther
        }
      },
      {
        value: "no",
        text: "No",
        conditional: {
          html: emailHtml
        }
      }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
 

    </form>
  </div>
</div>
{% endblock %}
