{% extends "layouts/main.html" %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}



  <h1 class="govuk-heading-xl govuk-!-static-margin-top-6">Approve licence
  </h1>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


 <!--new banner start-->
 <div class="mini-profile govuk-!-margin-top-4" data-qa="mini-profile">
  <div class="mini-profile-inner">
      <div class="mini-profile-left">
          <img class="mini-profile-person-img" src="/public/images/prisoner-profile-image.png" alt="Image of Last, First" loading="lazy" data-qa="mini-profile-person-img">
      </div>
      <div class="mini-profile-right">
          <ul class="mini-profile-info">
              <li>
                  <p class="govuk-heading-s govuk-!-margin-bottom-1">
                      <a id="mini-profile-link" class="govuk-link--no-visited-state" href="#" target="_blank" data-qa="mini-profile-person-profile-link">George Jennings</a>
                  </p>
                  <span class="govuk-body" data-qa="mini-profile-prisoner-number">G5613GT</span>
              </li>
              <li><span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Date of birth</span><span class="govuk-body" data-qa="mini-profile-dob">27/09/1998</span></li>
              <li><span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Establishment</span><span class="govuk-body" data-qa="mini-profile-prison-name">HMP Prison</span></li>
              <li><span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Cell number</span><span class="govuk-body" data-qa="mini-profile-cell-location">A-1-1</span></li></br></br>
              <!--<li><span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Status</span><span class="govuk-body" data-qa="mini-profile-status">Released</span></li>-->
          </ul>
      </div>
  </div>
</div>
<!--new banner end-->


</div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

  
<h2 class="govuk-heading-l" style="padding-top: 30px;"> Review details</h2>



  <!-- <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      Terry is not due for release until {{ 90 | govukDate }}.</br>You may want to approve this licence later.
    </strong>
  </div> -->



<!--new accordion open START-->


<div class="govuk-accordion" data-module="govuk-accordion" id="all-sections-open">
  <div class="govuk-accordion__section govuk-accordion__section--expanded">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="all-sections-open-heading-1">
          Key dates
        </span>
      </h2>
    </div>
    <div id="all-sections-open-content-1" class="govuk-accordion__section-content" aria-labelledby="all-sections-open-heading-1">
        

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            HDC eligibility date
           </dt>
          <dd class="govuk-summary-list__value">
            {{ "today" |  duration(0) | govukDate("truncate") }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
             </span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            HDC approved date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ "today" |  duration(0) | govukDate("truncate") }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
             </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Conditional release date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ "today" |  duration(0) | govukDate("truncate") }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
             </span>
            </a>
          </dd>
        </div>
      
      </dl>

    </div>
  </div>


  <div class="govuk-accordion__section govuk-accordion__section--expanded">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="all-sections-open-heading-2">
          HDC curfew hours
        </span>
      </h2>
    </div>
    <div id="all-sections-open-content-2" class="govuk-accordion__section-content" aria-labelledby="all-sections-open-heading-2">
        
      <!--conditions start-->




<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Monday
    </dt>
    <dd class="govuk-summary-list__value">
      7:00 pm to 7:00 am
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">

      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Tuesday
    </dt>
    <dd class="govuk-summary-list__value">
      7:00 pm to 7:00 am
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">

      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Wednesday
    </dt>
    <dd class="govuk-summary-list__value">
      7:00 pm to 7:00 am
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">

      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Thursday
    </dt>
    <dd class="govuk-summary-list__value">
      7:00 pm to 7:00 am
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">

      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Friday
    </dt>
    <dd class="govuk-summary-list__value">
      7:00 pm to 7:00 am
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">

      </a>
    </dd>
  </div>

</dl>



<!--conditions end-->
      

    </div>
  </div>





  <div class="govuk-accordion__section govuk-accordion__section--expanded">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="all-sections-open-heading-2">
          Additional licence conditions (2)
        </span>
      </h2>
    </div>
    <div id="all-sections-open-content-2" class="govuk-accordion__section-content" aria-labelledby="all-sections-open-heading-2">
        
      <!--conditions start-->


<dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Drug testing
    </dt>
    <dd class="govuk-summary-list__value">
      Attend a location, as required by your supervising officer, to give a sample of oral fluid / urine in order to test whether you have any specified Class A and specified Class B drugs in your body, for the purpose of ensuring that you are complying with the condition of your licence requiring you to be of good behaviour. Do not take any action that could hamper or frustrate the drug testing process.
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Possession, ownership, control or inspection of specified items or documents
    </dt>
    <dd class="govuk-summary-list__value">
      Not to own or possess more than one mobile phone or SIM card without the prior approval of your supervising officer and to provide your supervising officer with details of that mobile telephone or one you have regular use of, including the IMEI number and the SIM card that you possess.
    </dd>
    
  </div>

</dl>



<!--conditions end-->
      

    </div>
  </div>

</div>





<!--new accordion open END-->





     
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">





<h3 class="govuk-heading-l" style="padding-bottom: -10px; margin-top: 80px;">View more information</h2>

  <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">See this person’s full Digital Prison Services profile</a> <br><br></p>

  <!--SECONDARY INFO accordion start-->


<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">

      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Initial appointment
        </span>
      </h2>

    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Appointment with
          </dt>
          <dd class="govuk-summary-list__value">
            Michaela Sharrow
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="meet-change">
              <span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Address
          </dt>
          <dd class="govuk-summary-list__value">
            Leeds Probation Office,</br>
            Leeds, L13 2AJ
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="address-change">
              <span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ "today" |  duration(0) | govukDate("truncate") }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="when-change">
             </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Time
          </dt>
          <dd class="govuk-summary-list__value">
            11:00 am
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="when-change">
            </span>
            </a>
          </dd>
        </div>

      </dl>
      

    </div>
  </div>



  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Community probation practitioner details
        </span>
      </h2>
    </div>


    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
     
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Michaela Sharrow
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              <span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              michaela.sharrow@justice.gov.uk
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              No phone number recorded
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="phone-number-change">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
        

      </dl>

     
    </div>
  </div>




</div>





<!--SECONDARY INFO accordion end-->








<h2 class="govuk-heading-l" style="padding-top: 40px;">Approve this licence</h2>


<p>Contact the probation practitioner directly if you need more information about something.
</p>


        

          <div class="govuk-button-group">
            <a href="./hdc-confirmation.html" class="govuk-button">Approve licence</a></br>
            <a href="../../afer/case-list.html" class="govuk-button govuk-button--secondary">Return to case list</a></br>

          </div>

      </div>
    </div>




  </div>

</div>



{% endblock %}
