{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:20">Back</a>
{% endblock %}

{% block content %}
{% include "includes/layouts/personaldetails.html" %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form action="/v4/applicationsubmission" method="post" novalidate>


        {% if (data.user=="admin") %}

        <h1 class="govuk-heading-l govuk-!-margin-top-6">View CAS-2 area information and record submission of referral</h1>

        <p class="govuk-body">
          The referral can be started on the <a class="govuk-link govuk-link--no-visited-state" href="" target="_blank">CAS-2 – short-term accommodation service</a> using the following information.
        </p>


        <div class="govuk-summary-card" style="margin-top: 45px;">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
             Information from the probation practitioner
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Areas to avoid in referral 
                </dt> 
                <dd class="govuk-summary-list__value">
                  East Midlands, Greater London
                </dd>
              </div>
              
            </dl>
          </div>
          
        </div>
                 
        {% endif %}
          
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              {% if (data.user=="admin") %}
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading govuk-!-margin-top-6">
                  Has a CAS-2 referral been submitted?
                </h1>
              </legend>
              {% else %}
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading govuk-!-margin-top-6">
                  Have you made a referral for Approved Premises?
                </h1>
              </legend>
              {% endif %}

              {% if (data.user=="admin") %}
              <div class="govuk-hint">Recording this helps to keep the probation practitioner informed of progress.</div>
              {% else %}
              <div class="govuk-hint">Recording this helps to keep the prison informed of progress.</div>
              {% endif %}
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                {% if (data.user=="admin") %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cas2submitted" name="cas2submitted" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="cas2submitted">
                    Yes
                  </label>
                </div>
                {% else %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cas1submitted" name="cas1submitted" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="cas1submitted">
                    Yes
                  </label>
                </div>
                {% endif %}
                {% if (data.user=="admin") %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cas2submitted-2" name="cas2submitted" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="cas2submitted-2">
                    No
                  </label>
                </div>
                {% else %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cas1submitted-2" name="cas1submitted" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="cas1submitted-2">
                    No
                  </label>
                </div>
                {% endif %}
              </div>
            </fieldset>
          </div>
      

            <div class="govuk-button-group">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Save
              </button>
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Cancel
              </button>
            </div>


        </form>


      </div>
    </div>
  </main>
</div>
{% endblock %}
