{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <!--full start-->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


            {% if data.reportedDelay=="yes" %}
            <div class="moj-banner moj-banner--success govuk-!-margin-top-6" role="region" aria-label="Success">

              <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
              </svg>

              <div class="moj-banner__message">Information about delay updated</div>

            </div>
            {% else %}
            {% endif %}

        
              <!--banner CAS-2 start--> 
              {% if data.journey=="cas2application" %}

              {% if (data.CASareasToAvoid) and (data.areastoavoid=="yes") %}
              {% elseif data.accomodationType=="cas2" %}
              <div class="moj-banner moj-banner--success govuk-!-margin-top-6" role="region" aria-label="Success">

                <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                  <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
                </svg>

                <div class="moj-banner__message">Eligibility for CAS-2 confirmed.</div>

              </div>
              {% else %}
              {% endif %}

              {% endif %}
              <!--banner CAS-2 end--> 

              
              <!--new profile banner start-->
              <div class="mini-profile govuk-!-margin-top-8" data-qa="mini-profile">
                <div class="mini-profile-inner">
                    <div class="mini-profile-left">
                        <img class="mini-profile-person-img" src="/public/images/prisoner-profile-image.png" alt="Image of Last, First" loading="lazy" data-qa="mini-profile-person-img">
                    </div>
                    <div class="mini-profile-right">
                        <ul class="mini-profile-info">
                            <li>
                                <p class="govuk-heading-s govuk-!-margin-bottom-1">
                                    <a id="mini-profile-link" class="govuk-link--no-visited-state" href="#" target="_blank" data-qa="mini-profile-person-profile-link">
                                    {% if data.journey=="28daysjourney"%}
                                    David Lee
                                    {% elseif data.journey=="cas2application" %}
                                    Ryan Rees
                                    {% elseif data.journey=="cas1application" %}
                                    Lenny Wallace
                                    {% else %}
                                    George Jennings
                                    {% endif %}
                                    </a>
                                </p>
                                <span class="govuk-body" data-qa="mini-profile-prisoner-number">
                                  {% if data.journey=="28daysjourney"%}
                                  G93332
                                  {% elseif data.journey=="cas2application" %}
                                  G87634
                                  {% else %}
                                  G5613GT
                                  {% endif %}
                                </span>
                            </li>
                            {% if data.journey=="28daysjourney"%}
                            <li style="margin-left: 90px;"><span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Date of birth</span><span class="govuk-body" data-qa="mini-profile-dob">01 Jan 1980</span></li>
                            {% elseif data.journey=="cas1application" %}
                            <li style="margin-left: 55px;"><span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Date of birth</span><span class="govuk-body" data-qa="mini-profile-dob">13 Apr 1999</span></li>
                            {% elseif data.journey=="cas2application" %}
                            <li style="margin-left: 85px;"><span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Date of birth</span><span class="govuk-body" data-qa="mini-profile-dob">12 Jul 1987</span></li>
                            {% else %}
                            <li style="margin-left: 55px;"><span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Date of birth</span><span class="govuk-body" data-qa="mini-profile-dob">27 Sep 1998</span></li>
                            {% endif %}
                            
                            <li><span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Location</span><span class="govuk-body" data-qa="mini-profile-prison-name">HMP Prison</span></li>
                            <li><span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">Cell number</span><span class="govuk-body" data-qa="mini-profile-cell-location">A-1-1</span></li></br></br>
                            <li style="margin-left: 205px;"><span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">HDCED</span><span class="govuk-body" data-qa="mini-profile-cell-location">
                              {% if data.journey=="28daysjourney"%}
                              {{ "today" |  duration(20) | govukDate("truncate") }}
                              {% elseif data.journey=="cas1application"%}
                              {{ "today" |  duration(128) | govukDate("truncate") }}
                              {% elseif data.journey=="cas2application"%}
                              {{ "today" |  duration(100) | govukDate }}
                              {% else %}
                              {{ "today" |  duration(93) | govukDate("truncate") }}
                              {% endif %}
                            </span></li>
                            <li style="margin-left: 0px;"><span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-padding-0">CRD</span><span class="govuk-body" data-qa="mini-profile-cell-location">
                              {% if data.journey=="28daysjourney"%}
                              {{ "today" |  duration(36) | govukDate("truncate") }}
                              {% elseif data.journey=="cas1application"%}
                              {{ "today" |  duration(185) | govukDate }}
                              {% elseif data.journey=="cas2application"%}
                              {{ "today" |  duration(153) | govukDate }}
                              {% else %}
                              {{ "today" |  duration(126) | govukDate("truncate") }}
                              {% endif %}
                            </span></li>
                        </ul>
                    </div>
                </div>
              </div>
              <!--new profile banner end-->


      </div>
    </div>
    <!--full end-->


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <!--2/3 start-->
        
        <h1 class="govuk-heading-l govuk-!-static-margin-top-8">Check where this person wants to be released</h1>

        <!--CHANGE-->
        {% if (data.CASareasToAvoid) and (data.areastoavoid=="yes") %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">Information about areas to avoid recorded</p>
  
            <p class="govuk-body">
              Entered by Mark Coombes on {{ "today" |  duration(0) | govukDate("truncate") }}
            </p>

          </div>
        </div>
        {% endif %}


        <!--REPORT DELAY start-->
                
              {% if data.reportedDelay=="yes" %}
              <!--If delay has been reported - After deadline -->
              <div class="govuk-inset-text" style="border-color: #d4351c">
                <strong>Checks overdue</strong></br>
                This task was due to be completed by {{ "today" |  duration(13) | govukDate("truncate") }}.</br> 
                You have reported a delay to other people working on this application.
              </div>
              <!--If delay has NOT been reported - After deadlin e-->
              {% elseif (data.passedDeadline=="yes") %}
              <div class="govuk-inset-text" style="border-color: #d4351c">
                <strong>Checks overdue</strong></br>
                This task was due to be completed by {{ "today" |  duration(13) | govukDate("truncate") }}.</br> 
                You can report a delay to other people working on this application.
              </div>
              {% else %}
              <!-- If delay has NOT been reported - Before deadline -->
              <div class="govuk-inset-text">
                Complete this task by {{ "today" |  duration(13) | govukDate("truncate") }}.</br>
              </div>
              {% endif %}

        <!--REPORT DELAY end-->


        <!--CURFEW ADDRESSES start-->

        <h2 class="govuk-heading-m">Proposed curfew addresses</h2>
              
              {% if data.journey=="28daysjourney" %}

              <!--card start-->
              <div class="govuk-summary-card">
        
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Preferred address
                  </h2>
                  <ul class="govuk-summary-card__actions">
                  </ul>
                </div>
        
          
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
              
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        4 Inner Street</br>
                        Grantham</br>
                        NG31 6HN</br></br>
                        <!--start checks-->
                        <!--<a href="../addresses/residential/address-details-1" class="govuk-button">Start checks</a>-->
                        <a href="../addresses/residential/address-details-1" class="govuk-button">Continue</a>
                        <!--<a href="#" class="govuk-link govuk-link--no-visited-state">View or change details checks</a></br>-->
                    </dt>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                  </div>
              
                </dl>
              </div>
          
          </div>
          <!--card end-->


          <!--card start-->
        <div class="govuk-summary-card">
        
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Second address
            </h2>
            <ul class="govuk-summary-card__actions">
            </ul>
          </div>
          
        
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
          
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                  49 Hill Street</br>
                  Grantham</br>
                  N1J 5NB</br></br>
        
                  <a href="#" class="govuk-button">Continue</a>
                </dt>
              </div>
          
            </dl>
          </div>
          
          </div>
          <!--card end-->


              {% elseif data.journey=="cas1application" %}
            
              <!--card start-->
              <div class="govuk-summary-card">
        
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Preferred address
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link govuk-link--no-visited-state" href="#">View or change details</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <span class="moj-badge moj-badge--black moj-badge--large" style="text-transform: capitalize;">Unsuitable</span>
                    </li>
                  </ul>
                </div>
        
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__value">
                          4 Inner Street</br>
                          Grantham</br>
                          NG31 6HN
                      </dt>
                    </div>
                  </dl>
                </div>  
          
          </div>
          <!--card end-->
        
        
        
    
              
        {% elseif (data.journey=="cas2application") %}
        
          <p>None entered</p>
        
        {% else %}
              <!--card start-->
              <div class="govuk-summary-card">
        
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Preferred address
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link govuk-link--no-visited-state" href="./residential/address-details-1">View or change details</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <span class="moj-badge moj-badge--black moj-badge--large" style="text-transform: capitalize;">Unsuitable</span>
                    </li>
                  </ul>
                </div>
        
          
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
              
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value">
                        4 Inner Street</br>
                        Grantham</br>
                        NG31 6HN
                    </dt>
                  </div>
              
                </dl>
              </div>
          
          </div>
          <!--card end-->


        
        
        
        
        
        
                  <!--card start-->
        <div class="govuk-summary-card">
        
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Second address
            </h2>
            <ul class="govuk-summary-card__actions">
              {% if (data.ResidentialSuitabilityDecision=="yes") or (data.ResidentialSuitabilityDecision=="no") %}
              <li class="govuk-summary-card__action">
                <a class="govuk-link govuk-link--no-visited-state" href="./residential/address-details-2">View or change details</a>
              </li>
              {% elseif data.reportedDelay=="yes" %}
              <li class="govuk-summary-card__action">
                <a class="govuk-link govuk-link--no-visited-state" href="../delay/report-delay">View or update delay information</a>
              </li>
              {% else %}
              <li class="govuk-summary-card__action">
                <a class="govuk-link govuk-link--no-visited-state" href="../delay/report-delay">Report a delay</a>
              </li>
              {% endif %}
              <li class="govuk-summary-card__action">
        
                {% if data.ResidentialSuitabilityDecision=="yes" %}  
                <span class="moj-badge moj-badge--black moj-badge--large" style="text-transform: capitalize">Suitable</span>
                {% elseif (data.journey=="cas1application") or (data.journey=="cas2application") or (data.ResidentialSuitabilityDecision=="no") %}  
                <span class="moj-badge moj-badge--black moj-badge--large" style="text-transform: capitalize">Unsuitable</span>
                {% elseif data.OccupierChecks=="completed" %}
                <span style="font-family: GDS Transport, arial, sans-serif; font-weight: 100;">In progress</span>
                {% else %}
                <span style="font-family: GDS Transport, arial, sans-serif; font-weight: 100;">Not started</span>
                {% endif %}
        
              </li>
            </ul>
          </div>

          
        
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
          
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                  51 Hill Street</br>
                  Grantham</br>
                  N1J 5NB
        
                {% if data.journey=="cas2application"%}  
        
                <a href="#" class="govuk-link govuk-link--no-visited-state">View or change details</a>
        
                {% else %}
        

                {% if (data.ResidentialSuitabilityDecision=="yes") or (data.ResidentialSuitabilityDecision=="no") %}  
                {% elseif data.passedDeadline=="yes"%}
                </br></br><a href="residential/address-details-2" class="govuk-button">Continue</a>
                {% else %}
                </br></br><a href="residential/address-details-2" class="govuk-button">Check suitability</a>
                {% endif %}
        
                {% endif %}
                </dt>
        
              </div>
          
          
            </dl>
          </div>
          
          </div>
          <!--card end-->


          {% if data.journey=="eligiblejourney" %}
          <!--card start - deleted address V1 -->
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Third address – deleted
              </span>
            </summary>
            <div class="govuk-details__text">
              1 Belvoir Ave</br>
              Grantham</br>
              NG31 7TA</br></br>

              Deleted by Jessica Smith at HMP Wandsworth on {{ "today" |  duration(0) | govukDate }}</br>
              Reason: George no longer wants to be released here</br></br>

              <a class="govuk-link govuk-link--no-visited-state" href="#">View check</a></br>

            </div>
          </details>
          <!--card end - deleted address V1 -->


                    <!--card start - deleted address V1 -->
                    <details class="govuk-details" style="margin-top: -10px;">
                      <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          Fourth address – deleted
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                        13 Back Ln</br>
                        Grantham</br>
                        NG33 5NJ</br></br>
          
                        Deleted by Jessica Smith at HMP Wandsworth on {{ "today" |  duration(0) | govukDate }}</br>
                        Reason: Deletion requested by probation practitioner</br></br>

                        <a class="govuk-link govuk-link--no-visited-state" href="#">View check</a></br>
                        
                      </div>
                    </details>
                    <!--card end - deleted address V1 -->

        <!--card start-->
        <div class="govuk-summary-card">
        
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Fifth address
            </h2>
            <ul class="govuk-summary-card__actions">
              {% if data.ResidentialSuitabilityDecision=="yes" %}
              {% else %}
              <li class="govuk-summary-card__action">
                <a class="govuk-link govuk-link--no-visited-state" href="#">View or update delay information</a>
              </li>
              {% endif %}
              {% if data.ResidentialSuitabilityDecision=="yes" %}
              {% else %}
              <li class="govuk-summary-card__action">
                <span style="font-family: GDS Transport, arial, sans-serif; font-weight: 100;">Not started</span>
              </li>
              {% endif %}
            </ul>
          </div>

          
        
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
          
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__value">
                  7 Main St</br>
                  Oakham</br>
                  LE15 7SH

                {% if data.ResidentialSuitabilityDecision=="yes" %}
                {% else %}
                </br></br><a href="#" class="govuk-button">Check suitability</a>
                {% endif %}
                
                </dt>
        
              </div>
          
          
            </dl>
          </div>
          
          </div>
          <!--card end-->
          {% endif %}

          {% endif %}


        <!--CURFEW ADDRESSES end-->


        <h2 class="govuk-heading-m govuk-!-margin-top-8">CAS accommodation</h2>

        {% if data.journey=="28daysjourney" %}
        <p class="govuk-body govuk-!-margin-bottom-8">None entered</p>
        {% endif %}


              <!--CAS GERNERAL start-->
              {% if (data.accomodationType=="cas1") or (data.accomodationType=="cas2") %}
                            
                        <!--card start-->
                            <div class="govuk-summary-card">

                              <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title">
                                  Eligibility for CAS accommodation
                                </h2>
                                <ul class="govuk-summary-card__actions">
                                  <li class="govuk-summary-card__action">
                                    {% if data.CASeligible=="CASeligibleNo"%}
                                    <span class="moj-badge moj-badge--black moj-badge--large" style="text-transform: capitalize; margin-left: 50px; margin-top: 5px;">Ineligible</span>
                                    {% elseif (data.accomodationType=="cas1") or (data.accomodationType=="cas2") %} 
                                    <span class="moj-badge moj-badge--black moj-badge--large" style="text-transform: capitalize; margin-left: 50px; margin-top: 5px;">Eligible</span>
                                    {% endif %} 
                                  </li>
                                </ul>
                              </div>
              
              
              
                            <div class="govuk-summary-card__content">
                              <dl class="govuk-summary-list">

                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Additional information from the prison
                                   </dt>
                                  <dd class="govuk-summary-list__value">
                                    Person has family in the north of England 
                                  </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Saved by
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">Jessica Smith on {{ "today" | duration(-5) | govukDate("truncate") }}</p>
                                  </dd>
                                </div>
              
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Is this person eligible for CAS accommodation?
                                  </dt>
                                  <dd class="govuk-summary-list__value">
                                    Yes
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="./cas/accommodation-eligibility">Change</a>
                                  </dd>
                                </div>
              
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Type of accommodation
                                  </dt> 
                                  <dd class="govuk-summary-list__value">
                                    {% if data.accomodationType=="cas1" %}
                                    Approved Premises (CAS-1)
                                    {% elseif (data.accomodationType=="cas2") %}
                                    Short-term accommodation (CAS-2)
                                    {% endif %}
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="./cas/accommodation-type">Change</a>
                                  </dd>
                                </div>
              
                              </dl>
                            </div>
              
                          </div>
                          <!--card end-->

                          {% if data.accomodationType=="cas1" %}
                          <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                              <h2 class="govuk-summary-card__title">
                                Approved Premises referral
                              </h2>
                            </div>
                            <div class="govuk-summary-card__content">
                              <dl class="govuk-summary-list">
                  
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Referral status
                                  </dt> 
                                  <dd class="govuk-summary-list__value">
                                    Not submitted by probation practitioner yet
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="#">Enter</a>
                                  </dd>
                                </div>
                  
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Referral outcome
                                  </dt> 
                                  <dd class="govuk-summary-list__value">
                                    No outcome entered by probation practitioner yet
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="#">Enter</a>
                                  </dd>
                                </div>
                  
                                <div class="govuk-summary-list__row">
                                  <dt class="govuk-summary-list__key">
                                    Accommodation address
                                  </dt> 
                                  <dd class="govuk-summary-list__value">
                                    No address entered by probation practitioner yet
                                  </dd>
                                  <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link govuk-link--no-visited-state" href="#">Enter</a>
                                  </dd>
                                </div>
                  
                              </dl>
                            </div>
                            
                          </div>
                          {% endif %}

              {% elseif (data.journey=="cas1application") or (data.journey=="cas2application") %}

              <p class="govuk-body" style="margin-left: 5px; margin-top: 10px;">Check this person’s eligibility for CAS accommodation and select whether they need to go to Approved Premises (CAS-1) or short-term accommodation (CAS-2).</p>

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Eligibility for CAS accommodation
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li><span style="font-family: GDS Transport, arial, sans-serif; font-weight: 100;">Not started</span></li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Additional information from the prison
                       </dt>
                      <dd class="govuk-summary-list__value">
                        Person has family in the north of England 
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Saved by
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Jessica Smith on {{ "today" | duration(-5) | govukDate("truncate") }}</p>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          
                        
                        <a href="cas/accommodation-eligibility" class="govuk-button" style="margin-top: 0px; margin-left: 5px; margin-bottom: 15px;">Confirm eligibility</a>
              
                      </dt>
                    </div>
                  </dl>
                </div>
              </div>

   
              {% else %} 
              <p>None entered</p>
              {% endif %} 

              <!--CAS GENERAL end-->



    

            {% if (data.journey=="cas1application") or (data.journey=="cas2application") %}


        <!-- SHORT TERM ACCOMMODATION CAS-2 start -->
            {% if (data.CASareasToAvoid) and (data.areastoavoid=="yes") %}

            <!--card start-->
            <div class="govuk-summary-card">
            
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  Information for CAS-2 referral
                </h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a href="./cas/cas2-areastoavoid" class="govuk-link govuk-link--no-visited-state">View or change details</a>
                  </li>
                </ul>
              </div>
            
              
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
              
                  <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                      Areas to avoid
                    </dd>
                    <dd class="govuk-summary-list__value">
                      {% if (data.CASareasToAvoid) %}
                      {{data.CASareasToAvoid}}
                      {% endif %}
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                      Referral status
                    </dd>
                    <dd class="govuk-summary-list__value">
                      Not submitted by prison case admin yet
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                      Referral outcome
                    </dd>
                    <dd class="govuk-summary-list__value">
                      No outcome entered by prison case admin yet
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__key">
                      Accommodation address
                    </dd>
                    <dd class="govuk-summary-list__value">
                      No address entered by prison case admin yet
                    </dd>
                  </div>
                
                
                </dl>
              </div>
                  
            </div>
            <!--card end--> 

              {% elseif data.accomodationType=="cas2" %}

              <!--card start-->
              <div class="govuk-summary-card">

                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Information for CAS-2 referral
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li><span style="font-family: GDS Transport, arial, sans-serif; font-weight: 100;">Not started</span></li>
                  </ul>
                </div>

                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          
                        <p class="govuk-body" style="margin-left: 5px; margin-top: 10px;">Record which areas the prison should avoid when they submit a CAS-2 referral.<br></p>
                        <a href="cas/cas2-areastoavoid" class="govuk-button" style="margin-top: 0px; margin-left: 5px; margin-bottom: 15px;">Enter areas to avoid</a>
              
                      </dt>
                    </div>

                  </dl>
                </div>

              </div>
              <!--card end-->
 
              {% endif %} 
              
    
      
              {% endif %} 

        <!-- SHORT TERM ACCOMMODATION CAS-2 end -->

        <form class="form" action="../case-overview" method="post" novalidate>

        <div class="govuk-button-group" style="margin-top: 40px;">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Return to application overview
          </button>
        </div>

        </form>

        <!--2/3 end-->

      </div>
    </div>
  </main>
</div>
{% endblock %}
