{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-static-margin-top-6">Review information and send checks to prison</h1>


{% if data.journey=="cas1application" %} 
<h3 class="govuk-heading-m govuk-!-static-margin-top-6">Proposed curfew addresses</h3>
<p class="govuk-body">None entered</p>

{% else %} 
<h3 class="govuk-heading-m govuk-!-static-margin-top-6">Preferred address – Unsuitable</h3>
 
<!--PREFERRED ADDRESS-->

<!--card start-->
<div class="govuk-summary-card">

<div class="govuk-summary-card__title-wrapper">
  <h2 class="govuk-summary-card__title">
    Preferred address
  </h2>
</div>

<div class="govuk-summary-card__content">
  <dl class="govuk-summary-list">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
          4 Inner Street</br>
          Grantham</br>
          NG31 6HN
      </dt>
      <!--<dd class="govuk-summary-list__key">
      </dd>
      <dd class="govuk-summary-list__actions">
      </dd>-->
    </div>

  </dl>
</div>

</div>
<!--card end-->


<h3 class="govuk-heading-s govuk-!-margin-top-6">Details of residents</h3>
        
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Main occupier
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> details of main occupier</span></a>
      </li>
      <!--<li class="govuk-summary-card__action">
        <a class="govuk-link" href="#">Delete<span class="govuk-visually-hidden"> main occupier</span></a>
      </li>-->
      </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
           Sarah Martin
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (Main occupier)</span></a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          020 555 3083
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> phone number (Main occupier)</span></a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Relation
        </dt>
        <dd class="govuk-summary-list__value">
          Sister
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (Main occupier)</span></a>
        </dd>-->
      </div>
    </dl>
  </div>
</div>


<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Resident 1
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> details of resident 1</span></a>
      </li>
      <li class="govuk-summary-card__action">
        <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> resident 1</span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Amelia Martin
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Relation
        </dt>
        <dd class="govuk-summary-list__value">
          Cousin
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (resident 1)</span></a>
        </dd>-->
      </div>
        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            2 May 2007
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth (resident 1)</span></a>
          </dd>
        </div>-->
          <!--<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Age
            </dt>
            <dd class="govuk-summary-list__value">
              17
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (resident 1)</span></a>
            </dd>
          </div>-->
      </div>
    </dl>
  </div>


  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Resident 2
      </h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> details of resident 2</span></a>
        </li>
        <li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> resident 2</span></a>
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            James Martin
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
          </dd>-->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Relation
          </dt>
          <dd class="govuk-summary-list__value">
            Cousin
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (resident 2)</span></a>
          </dd>-->
        </div>
          <!--<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              2 May 2007
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth (resident 2)</span></a>
            </dd>
          </div>-->
            <!--<div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Age
              </dt>
              <dd class="govuk-summary-list__value">
                17
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> age (resident 2)</span></a>
              </dd>
            </div>-->
        </div>
      </dl>
    </div>

    <h3 class="govuk-heading-s govuk-!-margin-top-6">Suitability checks</h3>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Address details and informed consent
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
          </li>
          <!--<li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> resident 2</span></a>
          </li>-->
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Is the address connected to an electricity supply? 
            </dd>
            <dt class="govuk-summary-list__key">
              Yes
            </dt>
            <!--<dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
            </dd>-->
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Have you visited this address in person? 
            </dd>
            <dt class="govuk-summary-list__key">
             Yes
            </dt>
            <!--<dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (resident 2)</span></a>
            </dd>-->
          </div>
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Has the main occupier given informed consent for {% if data.journey=="cas2application"%}
                Ryan
                {% elseif data.journey=="cas1application"%}
                Lenny
                {% else %}
                George
                {% endif %}
                to be released here? 
              </dd>
              <dt class="govuk-summary-list__key">
               No
              </dt>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth (resident 2)</span></a>
              </dd>-->
            </div>
          </div>
        </dl>
      </div>


{% endif %}



{% if data.journey=="cas1application" %}  
{% else %}  

<!--SECOND ADDRESS-->

{% if data.journey=="cas2application" %} 
<h3 class="govuk-heading-m govuk-!-static-margin-top-8">Second address – Unsuitable</h3>
{% else %} 
<h3 class="govuk-heading-m govuk-!-static-margin-top-8">Second address – Suitable</h3>
{% endif %}

<!--card start-->
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Second address
    </h2>
  </div>
  
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          49 Hill Street</br>
          Grantham</br>
          N1J 5NB          
        </dt>
        <!--<dd class="govuk-summary-list__key">
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>-->
      </div>
  
  
    </dl>
  </div>
  
  </div>
  <!--card end-->
  
  
  
  <h3 class="govuk-heading-s govuk-!-margin-top-6">Details of residents</h3>
        
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Main occupier
      </h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> details of main occupier</span></a>
        </li>
        <!--<li class="govuk-summary-card__action">
          <a class="govuk-link" href="#">Delete</a>
        </li>-->
        </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Leanna Martin
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (Main occupier)</span></a>
          </dd>-->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            020 3334 3555
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> phone number (Main occupier)</span></a>
          </dd>-->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Relation
          </dt>
          <dd class="govuk-summary-list__value">
            Mother
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (Main occupier)</span></a>
          </dd>-->
        </div>
      </dl>
    </div>
  </div>
  
  
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Resident 1
      </h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> details of resident 1</span></a>
        </li>
        <li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> resident 1</span></a>
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Greg Martin
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
          </dd>-->
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Relation
          </dt>
          <dd class="govuk-summary-list__value">
            Brother
          </dd>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (resident 1)</span></a>
          </dd>-->
        </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              2 May 2007
            </dd>
            <!--<dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (resident 1)</span></a>
            </dd>-->
          </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
               Age
              </dt>
              <dd class="govuk-summary-list__value">
                17
              </dd>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (resident 1)</span></a>
              </dd>-->
            </div>
        </div>
      </dl>
    </div>


  <h3 class="govuk-heading-s govuk-!-margin-top-6">Suitability checks</h3>

  {% if data.journey=="cas2application" %} 
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Address details and informed consent
      </h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
        </li>
        <!--<li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> resident 2</span></a>
        </li>-->
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Is the address connected to an electricity supply? 
          </dd>
          <dt class="govuk-summary-list__key">
            No
          </dt>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
          </dd>-->
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Have you visited this address in person? 
          </dd>
          <dt class="govuk-summary-list__key">
           Yes
          </dt>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (resident 2)</span></a>
          </dd>-->
        </div>
        </div>
      </dl>
    </div>
  {% else %} 


    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Address details and informed consent
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
          </li>
          <!--<li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> resident 2</span></a>
          </li>-->
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Is the address connected to an electricity supply? 
            </dd>
            <dt class="govuk-summary-list__key">
              Yes
            </dt>
            <!--<dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
            </dd>-->
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Have you visited this address in person? 
            </dd>
            <dt class="govuk-summary-list__key">
             Yes
            </dt>
            <!--<dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (resident 2)</span></a>
            </dd>-->
          </div>
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Has the main occupier given informed consent for {% if data.journey=="cas2application"%}
                Ryan
                {% elseif data.journey=="cas1application"%}
                Lenny
                {% else %}
                George
                {% endif %}
                to be released here? 
              </dd>
              <dt class="govuk-summary-list__key">
               Yes
              </dt>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth (resident 2)</span></a>
              </dd>-->
            </div>
          </div>
        </dl>
      </div>


      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Police check
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
            </li>
            <!--<li class="govuk-summary-card__action">
              <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> resident 2</span></a>
            </li>-->
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                Enter the date that you requested this information
              </dd>
              <dt class="govuk-summary-list__key">
                13 Nov 2024
              </dt>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
              </dd>-->
            </div>
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
               Enter the date that the police sent this information
              </dd>
              <dt class="govuk-summary-list__key">
               25 Nov 2024
              </dt>
              <!--<dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (resident 2)</span></a>
              </dd>-->
            </div>
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                Summarise the information the police provided 
                </dd>
                <dt class="govuk-summary-list__key">
                 Here is the summary of the information from the police
                </dt>
                <!--<dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth (resident 2)</span></a>
                </dd>-->
              </div>
            </div>
          </dl>
        </div>


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Children’s services
            </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
              </li>
              <!--<li class="govuk-summary-card__action">
                <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> resident 2</span></a>
              </li>-->
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                  Enter the date that you requested this information
                </dd>
                <dt class="govuk-summary-list__key">
                  13 Nov 2024
                </dt>
                <!--<dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
                </dd>-->
              </div>
              <div class="govuk-summary-list__row">
                <dd class="govuk-summary-list__value">
                 Enter the date that the children’s services sent this information
                </dd>
                <dt class="govuk-summary-list__key">
                 25 Nov 2024
                </dt>
                <!--<dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (resident 2)</span></a>
                </dd>-->
              </div>
                <div class="govuk-summary-list__row">
                  <dd class="govuk-summary-list__value">
                  Summarise the information the children’s services provided 
                  </dd>
                  <dt class="govuk-summary-list__key">
                    Here is the summary of the information from the children’s services
                  </dt>
                  <!--<dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth (resident 2)</span></a>
                  </dd>-->
                </div>
              </div>
            </dl>
          </div>


          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Assess this person’s risk
              </h2>
              <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
                </li>
                <!--<li class="govuk-summary-card__action">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Delete</a>
                </li>-->
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dd class="govuk-summary-list__value">
                    What information has the POM provided about the behaviour of {% if data.journey=="cas2application"%}
                    Ryan
                    {% elseif data.journey=="cas1application"%}
                    Lenny
                    {% else %}
                    George
                    {% endif %} while in prison?
                  </dd>
                  <dt class="govuk-summary-list__key">
                    {% if data.journey=="cas2application"%}
                    Ryan
                    {% elseif data.journey=="cas1application"%}
                    Lenny
                    {% else %}
                    George
                    {% endif %} has made good progress.
                  </dt>
                  <!--<dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>-->
                </div>
                <div class="govuk-summary-list__row">
                  <dd class="govuk-summary-list__value">
                    Does {% if data.journey=="cas2application"%}
                    Ryan
                    {% elseif data.journey=="cas1application"%}
                    Lenny
                    {% else %}
                    George
                    {% endif %} need any mental health treatment to help manage risk?
                    Does {% if data.journey=="cas2application"%}
                    Ryan
                    {% elseif data.journey=="cas1application"%}
                    Lenny
                    {% else %}
                    George
                    {% endif %} need a mental health plan to help manage risk?
                  </dd>
                  <dt class="govuk-summary-list__key">
                    No
                  </dt>
                  <!--<dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change</a>
                  </dd>-->
                </div>
                  <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">
                      Have you consulted with prison healthcare?
                    </dd>
                    <dt class="govuk-summary-list__key">
                      No
                    </dt>
                    <!--<dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>-->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">
                      Is there a victim liaison officer (VLO) for this case? 
                    </dd>
                    <dt class="govuk-summary-list__key">
                      Yes
                    </dt>
                    <!--<dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>-->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">
                      Give details of any concerns victims have about {% if data.journey=="cas2application"%}
                      Ryan
                      {% elseif data.journey=="cas1application"%}
                      Lenny
                      {% else %}
                      George
                      {% endif %}
                      being released to the proposed address or area.
                    </dd>
                    <dt class="govuk-summary-list__key">
                      Nothing was raised from the VLO
                    </dt>
                    <!--<dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>-->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">
                      Is there any information that cannot be disclosed to {% if data.journey=="cas2application"%}
                      Ryan
                      {% elseif data.journey=="cas1application"%}
                      Lenny
                      {% else %}
                      George
                      {% endif %}?
                    </dd>
                    <dt class="govuk-summary-list__key">
                      No
                    </dt>
                    <!--<dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change</a>
                    </dd>-->
                  </div>
                </div>
              </dl>
            </div>


            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  Suitability decision
                </h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
                  </li>
                  <!--<li class="govuk-summary-card__action">
                    <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> resident 2</span></a>
                  </li>-->
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">
                      Is this address suitable for {% if data.journey=="cas2application"%}
                      Ryan
                      {% elseif data.journey=="cas1application"%}
                      Lenny
                      {% else %}
                      George
                      {% endif %} to be released to?
                    </dd>
                    <dt class="govuk-summary-list__key">
                      Yes
                    </dt>
                    <!--<dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
                    </dd>-->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dd class="govuk-summary-list__value">
                      Add information to support your decision
                    </dd>
                    <dt class="govuk-summary-list__key">
                      No concerns
                    </dt>
                    <!--<dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> relationship (resident 2)</span></a>
                    </dd>-->
                  </div>
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        Do you need to add any more information about {% if data.journey=="cas2application"%}
                        Ryan
                        {% elseif data.journey=="cas1application"%}
                        Lenny
                        {% else %}
                        George
                        {% endif %} or the proposed address for the monitoring contractor?
                      </dd>
                      <dt class="govuk-summary-list__key">
                       No
                      </dt>
                      <!--<dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth (resident 2)</span></a>
                      </dd>-->
                    </div>
                  </div>
                </dl>
              </div>


              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Make a risk management decision
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
                    </li>
                    <!--<li class="govuk-summary-card__action">
                      <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> resident 2</span></a>
                    </li>-->
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        Can {% if data.journey=="cas2application"%}
                        Ryan
                        {% elseif data.journey=="cas1application"%}
                        Lenny
                        {% else %}
                        George
                        {% endif %} be managed safely in the community if they are released to the proposed address or CAS area?
                      </dd>
                      <dt class="govuk-summary-list__key">
                        Yes
                      </dt>
                      <!--<dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
                      </dd>-->
                    </div>
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        Add information to support your decision
                      </dd>
                      <dt class="govuk-summary-list__key">
                        There have been no concerns with the requested areas/locations. All risk checks completed.
                      </dt>
                      <!--<dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
                      </dd>-->
                    </div>
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        Are any risk management planning actions needed prior to release before the address or CAS area can be suitable?
                      </dd>
                      <dt class="govuk-summary-list__key">
                        No
                      </dt>
                      <!--<dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
                      </dd>-->
                    </div>
                    </div>
                  </dl>
                </div>


{% endif %}

{% endif %}  


<!--CAS AREAS-->


{% if data.journey=="cas1application" %} 
<h3 class="govuk-heading-m govuk-!-static-margin-top-8">Preferred CAS area – Suitable</h3>

<!--Preferred CAS start-->

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Preferred CAS area
    </h2>
    <ul class="govuk-summary-card__actions">
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Town or city
        </dt>
        <dd class="govuk-summary-list__value">
          Sheffield
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          County or borough
        </dt>
        <dd class="govuk-summary-list__value">
          South Yorkshire
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional information 
        </dt>
        <dd class="govuk-summary-list__value">
          Person has relatives in the area
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of accommodation
        </dt>
        <dd class="govuk-summary-list__value">
          Approved Premises (CAS-1)
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
    </dl>
  </div>
</div>

<!--Preferred CAS end-->

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Assess this person’s risk
      </h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
        </li>
        <!--<li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Delete</a>
        </li>-->
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Is there a victim liaison officer (VLO) for this case? 
            </dd>
            <dt class="govuk-summary-list__key">
              Yes
            </dt>
            <!--<dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change</a>
            </dd>-->
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Give details of any concerns victims have about {% if data.journey=="cas2application"%}
              Ryan
              {% elseif data.journey=="cas1application"%}
              Lenny
              {% else %}
              George
              {% endif %} being released to the proposed address or area.
            </dd>
            <dt class="govuk-summary-list__key">
              Nothing was raised from the VLO
            </dt>
            <!--<dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change</a>
            </dd>-->
          </div>
        </div>
      </dl>
    </div>


{% elseif data.journey=="cas2application" %}  
<h3 class="govuk-heading-m govuk-!-static-margin-top-8">Preferred CAS area – Suitable</h3>

<!--Preferred CAS start-->

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Preferred CAS area
    </h2>
    <ul class="govuk-summary-card__actions">
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Town or city
        </dt>
        <dd class="govuk-summary-list__value">
          Sheffield
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          County or borough
        </dt>
        <dd class="govuk-summary-list__value">
          South Yorkshire
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional information 
        </dt>
        <dd class="govuk-summary-list__value">
          Person has relatives in the area
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of accommodation
        </dt>
        <dd class="govuk-summary-list__value">
          Short-term accommodation (CAS-2)
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
    </dl>
  </div>
</div>

<!--Preferred CAS end-->

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Check if CAS2 area is suitable
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
      </li>
      <!--<li class="govuk-summary-card__action">
        <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> resident 2</span></a>
      </li>-->
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Is this area suitable for {% if data.journey=="cas2application"%}
          Ryan
          {% elseif data.journey=="cas1application"%}
          Lenny
          {% else %}
          George
          {% endif %} to be released to?
        </dd>
        <dt class="govuk-summary-list__key">
          Yes
        </dt>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Add information to support your decision
        </dd>
        <dt class="govuk-summary-list__key">
          There have been no concerns with the requested areas/locations.
        </dt>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
        </dd>-->
      </div>
      </div>
    </dl>
  </div>



  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Assess this person’s risk
      </h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
        </li>
        <!--<li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Delete</a>
        </li>-->
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            What information has the POM provided about the behaviour of {% if data.journey=="cas2application"%}
            Ryan
            {% elseif data.journey=="cas1application"%}
            Lenny
            {% else %}
            George
            {% endif %} while in prison?
          </dd>
          <dt class="govuk-summary-list__key">
            {% if data.journey=="cas2application"%}
            Ryan
            {% elseif data.journey=="cas1application"%}
            Lenny
            {% else %}
            George
            {% endif %} has made good progress.
          </dt>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change</a>
          </dd>-->
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Does {% if data.journey=="cas2application"%}
            Ryan
            {% elseif data.journey=="cas1application"%}
            Lenny
            {% else %}
            George
            {% endif %} need any mental health treatment to help manage risk? Does {% if data.journey=="cas2application"%}
            Ryan
            {% elseif data.journey=="cas1application"%}
            Lenny
            {% else %}
            George
            {% endif %} need a mental health plan to help manage risk?
          </dd>
          <dt class="govuk-summary-list__key">
            No
          </dt>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change</a>
          </dd>-->
        </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Is there a victim liaison officer (VLO) for this case? 
            </dd>
            <dt class="govuk-summary-list__key">
              Yes
            </dt>
            <!--<dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change</a>
            </dd>-->
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Give details of any concerns victims have about {% if data.journey=="cas2application"%}
              Ryan
              {% elseif data.journey=="cas1application"%}
              Lenny
              {% else %}
              George
              {% endif %} being released to the proposed address or area.
            </dd>
            <dt class="govuk-summary-list__key">
              Nothing was raised from the VLO
            </dt>
            <!--<dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change</a>
            </dd>-->
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Is there any information that cannot be disclosed to {% if data.journey=="cas2application"%}
              Ryan
              {% elseif data.journey=="cas1application"%}
              Lenny
              {% else %}
              George
              {% endif %}?
            </dd>
            <dt class="govuk-summary-list__key">
              No
            </dt>
            <!--<dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change</a>
            </dd>-->
          </div>
        </div>
      </dl>
    </div>



  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
        Make a risk management decision
      </h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change</a>
        </li>
        <!--<li class="govuk-summary-card__action">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> resident 2</span></a>
        </li>-->
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Can {% if data.journey=="cas2application"%}
            Ryan
            {% elseif data.journey=="cas1application"%}
            Lenny
            {% else %}
            George
            {% endif %} be managed safely in the community if they are released to the proposed address or CAS area?
          </dd>
          <dt class="govuk-summary-list__key">
            Yes
          </dt>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
          </dd>-->
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Add information to support your decision
          </dd>
          <dt class="govuk-summary-list__key">
            There have been no concerns with the requested areas/locations. 
          </dt>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
          </dd>-->
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Are any risk management planning actions needed prior to release before the address or CAS area can be suitable?
          </dd>
          <dt class="govuk-summary-list__key">
            No
          </dt>
          <!--<dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name (resident 1)</span></a>
          </dd>-->
        </div>
        </div>
      </dl>
    </div>




{% else %}  
<h3 class="govuk-heading-m govuk-!-static-margin-top-8">Preferred CAS area – Not started</h3>

<!--Preferred CAS start-->

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Preferred CAS area
    </h2>
    <ul class="govuk-summary-card__actions">
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Town or city
        </dt>
        <dd class="govuk-summary-list__value">
          Sheffield
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          County or borough
        </dt>
        <dd class="govuk-summary-list__value">
          South Yorkshire
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional information 
        </dt>
        <dd class="govuk-summary-list__value">
          Person has relatives in the area
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
    </dl>
  </div>
</div>

<!--Preferred CAS end-->
{% endif %}  

<h3 class="govuk-heading-m govuk-!-static-margin-top-8">Second CAS area – Not started</h3>


<!--Second CAS start-->

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Second CAS area
    </h2>
    <ul class="govuk-summary-card__actions">
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Town or city
        </dt>
        <dd class="govuk-summary-list__value">
          London
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          County or borough
        </dt>
        <dd class="govuk-summary-list__value">
          Wimbledon
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional information 
        </dt>
        <dd class="govuk-summary-list__value">
          Has been released to this area before
        </dd>
        <!--<dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">Change</a>
        </dd>-->
      </div>
    </dl>
  </div>
</div>

<!--Preferred CAS end-->



<form action="../case-overview" method="post" novalidate>
  <input type="hidden" name="sendChecksPrison" value="yes">

    <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Send to prison
    </button>
    </div>

  </div>
</form>



      </div>
    </div>
  </main>
</div>

{% endblock %}
