{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l govuk-!-static-margin-top-6">
        Release someone on HDC
      </h1>


      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Name
          </dt>
          <dd class="govuk-summary-list__value">
            George Jennings
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Prison number
          </dt>
          <dd class="govuk-summary-list__value">
            G5613GT
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            HDCED
          </dt>
          <dd class="govuk-summary-list__value">
            28 May 2024
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            CRD
          </dt>
          <dd class="govuk-summary-list__value">
            28 July 2024
          </dd>
        </div>

        <div class="govuk-button-group" style="margin-top: 10px;">
          <a class="govuk-link" href="#">View case history</a>
        </div>
  
      </dl>



      <p class="govuk-body">Finish checking addresses by 31 March 2024 or <a class="govuk-link" href="#">pause these checks</a></p>

      <h2 class="govuk-heading-m">Proposed address</h2>




      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

          <!--card start-->
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Preferred address
    </h2>
  </div>
  
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
            4 Inner Street</br>
            Grantham</br>
            NG31 6HN
        </dt>
        <!--<dd class="govuk-summary-list__key">
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>-->
      </div>
  
  
    </dl>
  </div>
  
  </div>
  <!--card end-->


        </div>
        <div class="govuk-grid-column-one-half">

          <!--card start-->
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Second address
    </h2>
  </div>
  
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          49 Hill Street</br>
          Grantham</br>
          N1J 5NB
        </dt>
        <!--<dd class="govuk-summary-list__key">
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>-->
      </div>
  
  
    </dl>
  </div>
  
  </div>
  <!--card end-->


        </div>
      </div>



      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m" style="margin-top: 20px;">Check if addresses are suitable for HDC</h2>
            </div>
            <div class="govuk-grid-column-one-third">
              
              <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-top: 10px;">
                Start
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                  <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
              </a>

            </div>
          </div>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m" style="margin-top: 15px;">Assess this person's risk</h2>
        </div>
        <div class="govuk-grid-column-one-third">
          
          <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button" style="margin-top: 5px;">
            Start
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>

        </div>
      </div>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



      <h2 class="govuk-heading-m">Community accommodation</h2>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Proposed town
          </dt>
          <dd class="govuk-summary-list__value">
            London
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Proposed county or borough
          </dt>
          <dd class="govuk-summary-list__value">
            Wimbledon
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional Information
          </dt>
          <dd class="govuk-summary-list__value">
            Prisoner has offending history in Edmonton, so that area should be avoided
          </dd>
        </div>
      </dl>


    
      <form action="/form-handler" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Select which type of community accommodation they need
            </legend>
            <div id="dob-hint" class="govuk-hint">
              If you select approved premises, you will not need to assess this person’s risk or check if their release area is suitable.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="interviewNeeds" name="interviewNeeds" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="interviewNeeds">
                  Approved premises – for people who are higher risk
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="interviewNeeds-2" name="interviewNeeds" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
                  CAS2 – for everyone else
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>





      </div>
    </div>
  </main>
</div>

{% endblock %}
