{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" style="margin-top: 20px;">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Prototype: Assess for Early Release (AFER)</h1><br />

    
        <h1 class="govuk-heading-m">Related links</h2>
          <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://drive.google.com/drive/folders/1aVBl3cSX6dgL-cTw-jcKjTpj05gUJIbe">Content docs</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://miro.com/app/board/uXjVNTZUaWs=/?moveToWidget=3458764577565784580&cot=14">TO BE user journey map</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="">Design notes TO BE ADDED</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="HOWTO">How to create a new prototype version</a></li>
        </ul></br>
      
    
    <!--Tabs start-->
  
        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">

            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#current-prototype">
                Current prototype
              </a>
            </li>

            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#ur">
                User research
              </a>
            </li>



          </ul>


<!--Current prototype tab start-->

          <div class="govuk-tabs__panel" id="current-prototype">


            <h2 class="govuk-heading-l">Prototype</h2>
            
            
            <p>Prototype Kit Version 13</p>

            <div class="govuk-inset-text">
              
              <h4 class="govuk-heading-s">How to use the prototype</h4>

              <p>1. <a class="govuk-link govuk-link--no-visited-state" href="manage-prototype/clear-data">Clear data</a> before starting a new journey</p>
              <p style="margin-top: -10px; margin-bottom: 10px;">2. <a class="govuk-link govuk-link--no-visited-state" href="v1/config">View AFER prototype v1</a> and choose the journey as listed below</p>

            </div>

            
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" style="width: 400px;">Users and journeys</th>
                  <th scope="col" class="govuk-table__header" style="width: 230px;">Task</th>
                  <th scope="col" class="govuk-table__header" style="width: 90px;">Ticket</th>
                  <th scope="col" class="govuk-table__header" style="width: 170px;">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">All users (incl. read only)</br>
                  <a class="govuk-link govuk-link--no-visited-state" href="https://hmpps-afer-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/v1/afer/case-overview" target="_blank">Case detail page</a>
                  </td>
                  <td class="govuk-table__cell">Low-fi designs for case overview page</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-1686" target="_blank">CVSL-1686</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: blue;">I<span style="text-transform: lowercase;">n design</span></strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Probation Practitioner</a></td>
                  <td class="govuk-table__cell">Low-fi designs for address checks</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-1685" target="_blank">CVSL-1685</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: blue;">I<span style="text-transform: lowercase;">n design</span></strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Prison Case Admin</br>
                    <a class="govuk-link govuk-link--no-visited-state" href="https://hmpps-afer-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/v1/afer/eligibility/automated-eligible" target="_blank">HDC eligibility assessment (eligible)</a></br>
                    <a class="govuk-link govuk-link--no-visited-state" href="https://hmpps-afer-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/v1/afer/eligibility/automated-ineligible" target="_blank">HDC eligibility assessment (ineligible)</a>
                  </td>
                  <td class="govuk-table__cell">Low-fi designs for eligibility & suitablity checks</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-1684" target="_blank">CVSL-1684</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: blue;">I<span style="text-transform: lowercase;">n design</span></strong></td>
                </tr>

              </tbody>
            </table>




            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Copy this code to add a new row
                </span>
              </summary>
              <div class="govuk-details__text">
                
                <!--COPY THIS TABLE ROW - START OF THE TEMPLATE TO ADD ANOTHER DESIGN TASK-->

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <strong>Template</strong></br>
                    [Probation Practitioner/Prison Approver/Prison Admin/PDU Head]</br></br> 
                    [Create/Vary/Approve licence/Print licence/Approve variation]</br></br> 
                    Click on [Fake name in proto] to see designs</td>
                  <td class="govuk-table__cell">[Add task or feature description]</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#" target="_blank">[CVSL-XXXX]</a></td>
                  <td class="govuk-table__cell">
                    [Choose a status]</br></br>
                    <strong class="govuk-tag" style="background: blue;">I<span style="text-transform: lowercase;">n design</span></strong></br></br>  
                    <strong class="govuk-tag" style="background: green;">R<span style="text-transform: lowercase;">eady for research</span></strong></br></br>  
                    <strong class="govuk-tag" style="background: red;">F<span style="text-transform: lowercase;">inal design</span></strong></br></br>  
                  </td>
                </tr>

                <!--END OF THE TEMPLATE TO ADD ANOTHER DESIGN TASK-->
                
              </div>
            </details>


                
          </div>

<!--Current prototype tab end-->


        
<!--User research tab start-->

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ur">

            <h2 class="govuk-heading-l">Designs ready for user research</h2>
          
            <p>May 2024</p>
            
          
          </div>

<!--User research tab end-->


        </div>

<!--Tabs end-->

  </div>
</div>

{% endblock %}
