{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" style="margin-top: 40px;">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Prototype: Assess for Early Release (AFER)</h1><br />

    
        <h1 class="govuk-heading-m">Related links</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://docs.google.com/document/d/1BmgydY-Oe7Y31QeK3G5WA5NSmNOfoVXte4pPdZuCbrc/edit?usp=sharing">Design notes</a></li>
            <li><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://drive.google.com/drive/folders/1aVBl3cSX6dgL-cTw-jcKjTpj05gUJIbe">Content docs</a></li>
        
        <li><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://miro.com/app/board/uXjVNTZUaWs=/?moveToWidget=3458764577565784580&cot=14">TO BE user journey map</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://miro.com/app/board/uXjVNV1GAJU=/?moveToWidget=3458764580896155209&cot=14">AFER-CVL touchpoints map</a></li>

        <li><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="HOWTO">Setup new prototype version</a></li>
        
        </ul></br>
      
    
    <!--Tabs start-->
  
        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">

            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#ur">
                User research
              </a>
            </li>

            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#current-prototype">
                Current prototype
              </a>
            </li>

            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#version-history">
                Version history
              </a>
            </li>

          </ul>


<!--Current prototype tab start-->

          <div class="govuk-tabs__panel" id="current-prototype">


            <h2 class="govuk-heading-l">Prototype</h2>
            
            
            <p>Prototype Kit Version 13</p>

            <div class="govuk-inset-text">
              
              <h4 class="govuk-heading-s">How to use the prototype</h4>
              <p>1. Have a look at the <a class="govuk-link govuk-link--no-visited-state" href="https://docs.google.com/document/d/1Uc5urKBtPK3Ej2IYfUTMDn2g8du5jLiid_-xf7Fw0Fs/edit?usp=sharing" target="_blank">scenarios</a> covered by this prototype</p>
              <p>2. <a class="govuk-link govuk-link--no-visited-state" href="manage-prototype/clear-data">Clear data</a> before starting a new journey</p>
              <p>3. <a class="govuk-link govuk-link--no-visited-state" href="v3/config">View AFER prototype v3 Private Beta</a> and choose the journey</p>

            </div>

            <div class="govuk-button-group">
              <a href="v3/config" class="govuk-button govuk-!-margin-bottom-8">Start prototype</a></br>
            </div>

            <h2 class="govuk-heading-m">Private Beta - Iteration 2</h2>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" style="width: 300px;">Users and journeys</th>
                  <th scope="col" class="govuk-table__header" style="width: 300px;">Task</th>
                  <th scope="col" class="govuk-table__header" style="width: 30px;">Version</th>
                  <th scope="col" class="govuk-table__header" style="width: 100px;">Ticket</th>
                  <th scope="col" class="govuk-table__header" style="width: 100px;">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Prison Case Admin</br>
                  </td>
                  <td class="govuk-table__cell">
                    Revisit gaps:</br>
                    Design changes after user R2
                    </td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/config">v3</br>Private Beta</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#" target="_blank">TBC</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: blue;">I<span style="text-transform: lowercase;">n design</span></strong></td>
                </tr>

              </tbody>
            </table>



            <h2 class="govuk-heading-m">Private Beta - Iteration 1</h2>
            
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" style="width: 300px;">Users and journeys</th>
                  <th scope="col" class="govuk-table__header" style="width: 300px;">Task</th>
                  <th scope="col" class="govuk-table__header" style="width: 30px;">Version</th>
                  <th scope="col" class="govuk-table__header" style="width: 100px;">Ticket</th>
                  <th scope="col" class="govuk-table__header" style="width: 100px;">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">All users and read only access</a></td>
                  <td class="govuk-table__cell">Case list</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/config">v2</br>Private Beta</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-2041" target="_blank">CVSL-2041</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: blue;">I<span style="text-transform: lowercase;">n design</span></strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Prison Case Admin</br>
                    Probation Practitioner</a></td>
                  <td class="govuk-table__cell">Multiple address input</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/config">v2</br>Private Beta</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-2040" target="_blank">CVSL-2040</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: green;">D<span style="text-transform: lowercase;">one</span></strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Prison Case Admin</br>
                  </td>
                  <td class="govuk-table__cell">Eligibility & suitablity checks:</br>
                    Design changes after UR R1</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/config">v2</br>Private Beta</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-1924" target="_blank">CVSL-1924</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: green;">D<span style="text-transform: lowercase;">one</span></strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Probation Practitioner</a></td>
                  <td class="govuk-table__cell">Address checks:</br>
                    Design changes after UR R1</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/config">v2</br>Private Beta</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-1925" target="_blank">CVSL-1925</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: green;">D<span style="text-transform: lowercase;">one</span></strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Decision Maker</a></td>
                  <td class="govuk-table__cell">AFER-CVL connection<br>
                    Design changes after UR R1</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/config">v2</br>Private Beta</a></td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-1923" target="_blank">CVSL-1923</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: blue;">I<span style="text-transform: lowercase;">n design</span></strong></td>
                </tr>


              </tbody>
            </table>




            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Copy this code to add a new row
                </span>
              </summary>
              <div class="govuk-details__text">
                
                <!--COPY THIS TABLE ROW - START OF THE TEMPLATE TO ADD ANOTHER DESIGN TASK-->

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <strong>Template</strong></br>
                    [Probation Practitioner/Prison Approver/Prison Admin/PDU Head]</br></br> 
                    [Create/Vary/Approve licence/Print licence/Approve variation]</br></br> 
                    Click on [Fake name in proto] to see designs</td>
                  <td class="govuk-table__cell">[Add task or feature description]</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#" target="_blank">[CVSL-XXXX]</a></td>
                  <td class="govuk-table__cell">
                    [Choose a status]</br></br>
                    <strong class="govuk-tag" style="background: blue;">I<span style="text-transform: lowercase;">n design</span></strong></br></br>  
                    <strong class="govuk-tag" style="background: green;">R<span style="text-transform: lowercase;">eady for research</span></strong></br></br>  
                    <strong class="govuk-tag" style="background: red;">F<span style="text-transform: lowercase;">inal design</span></strong></br></br>  
                  </td>
                </tr>

                <!--END OF THE TEMPLATE TO ADD ANOTHER DESIGN TASK-->
                
              </div>
            </details>


                
          </div>

<!--Current prototype tab end-->


<!--Version history tab start-->

<div class="govuk-tabs__panel" id="version-history">


  <h2 class="govuk-heading-l">Version history</h2>

  <p class="govuk-body">These designs are final for the corresponding phase and have been tested.</p>

  <h2 class="govuk-heading-m">Alpha</h2>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" style="width: 300px;">Users and journeys</th>
        <th scope="col" class="govuk-table__header" style="width: 300px;">Task</th>
        <th scope="col" class="govuk-table__header" style="width: 30px;">Version</th>
        <th scope="col" class="govuk-table__header" style="width: 100px;">Ticket</th>
        <th scope="col" class="govuk-table__header" style="width: 100px;">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">All users and read only access</br>
        </td>
        <td class="govuk-table__cell">Low-fi designs for case overview page</td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v1/config">v1 Alpha</a></td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-1686" target="_blank">CVSL-1686</a></td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag" style="background: green;">D<span style="text-transform: lowercase;">one</span></strong>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Prison Case Admin</br>
        </td>
        <td class="govuk-table__cell">Low-fi designs for eligibility & suitablity checks</td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v1/config">v1 Alpha</a></td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-1684" target="_blank">CVSL-1684</a></td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag" style="background: green;">D<span style="text-transform: lowercase;">one</span></strong></br>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Probation Practitioner</a></td>
        <td class="govuk-table__cell">Low-fi designs for address checks</td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v1/config">v1 Alpha</a></td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-1685" target="_blank">CVSL-1685</a></td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag" style="background: green;">D<span style="text-transform: lowercase;">one</span></strong>
        </td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Decision Maker</a></td>
        <td class="govuk-table__cell">Low-fi designs for AFER-CVL connection</td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v1/config">v1 Alpha</a></td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-1922" target="_blank">CVSL-1922</a></td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag" style="background: green;">D<span style="text-transform: lowercase;">one</span></strong>
        </td>
      </tr>

    </tbody>
  </table>




 
      
</div>

<!--Version history tab end-->


        
<!--User research tab start-->

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ur">

            <h2 class="govuk-heading-l">Designs ready for user research</h2>
          
            <!--<p>No design ready for UR</p>-->
            
            <p>Designs February 2025</p>

            <div class="govuk-button-group">
              <a href="v3/config" class="govuk-button">Start prototype</a></br>
            </div>
            
            <h2 class="govuk-heading-m govuk-!-margin-top-8">Past user research</h2>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" style="width: 180px;">User Research</th>
                  <th scope="col" class="govuk-table__header" style="width: 180px;">Users</th>
                  <th scope="col" class="govuk-table__header" style="width: 500px;">
                    <a class="govuk-link govuk-link--no-visited-state" href=" https://docs.google.com/document/d/1Uc5urKBtPK3Ej2IYfUTMDn2g8du5jLiid_-xf7Fw0Fs/edit?usp=sharing" target="_blank">Scenarios</a>
                  </th>
                  <th scope="col" class="govuk-table__header" style="width: 30px;">Prototype Version</th>
                  <th scope="col" class="govuk-table__header" style="width: 100px;">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Feb 2025 (R3)</br>
                    Iterated designs</td>
                  <td class="govuk-table__cell">Probation Practitioner</td>
                  <td class="govuk-table__cell">
                    Sce 5 - Approved Premises (CAS-1)</br>
                    Sce 4 - Short-term accommodation (CAS-2) with preferred areas</br>
                    Sce 3 - 28 days until CRD
                  </td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v3/config">v3 Private Beta</a></td>
                  <td class="govuk-table__cell"><!--<strong class="govuk-tag" style="background: green;">D<span style="text-transform: lowercase;">one</span></strong>-->In progress</td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Oct 2024 (R2)</br>
                    Iterated designs</td>
                  <td class="govuk-table__cell">Probation Practitioner</td>
                  <td class="govuk-table__cell">
                    Sce 2 - Eligible and suitable</br>
                    Sce 4 - Short-term accommodation (CAS-2)</br>
                    Sce 5 - Approved Premises (CAS-1)
                  </td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/config">v2 Private Beta</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: green;">D<span style="text-transform: lowercase;">one</span></strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Oct 2024 (R2)</br>
                    Iterated designs</td>
                  <td class="govuk-table__cell">Prison Case Admin<br>
                  <td class="govuk-table__cell">
                    Sce 1 - Ineligible</br>
                    Sce 2 - Eligible and suitable</br>
                    Sce 3 - 28 days until CRD
                  </td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v2/config">v2 Private Beta</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: green;">D<span style="text-transform: lowercase;">one</span></strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">May 2024 (R1)</br>
                    Low-fi designs</td>
                  <td class="govuk-table__cell">Prison Case Admin<br>
                  Probation Practitioner</br>
                  Decision Maker</td>
                  <td class="govuk-table__cell">N/A</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="v1/config">v1 Alpha</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: green;">D<span style="text-transform: lowercase;">one</span></strong></td>
                </tr>

              </tbody>
            </table>



          
          </div>

<!--User research tab end-->


        </div>

<!--Tabs end-->

  </div>
</div>

{% endblock %}
