{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}

<div class="govuk-width-container govuk-!-margin-top-8">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


          
          

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Eligibility and suitability checks complete
          </h1>
          <div class="govuk-panel__body">
            <img style="width:6%; padding-right: 5px;" src="/public/images/icons/icon-grid-125x125_check_white.svg"/>
            Eligible and suitable for HDC
          </div>
        </div>

        <h2 class="govuk-heading-m" style="margin-top: 30px;">Eligibility and suitability decision</h2>

        <p class="govuk-body">
          {% if data.journey=="cas2application" %}
          Ryan Rees
          {% elseif data.journey=="casNoPreference"%}
          Julian Murphy
          {% elseif data.journey=="cas1application" %}
          Lenny Wallace
          {% else %}
          George Jennings
          {% endif %} is eligible and suitable for HDC.</p>



       
        <h2 class="govuk-heading-m">Next steps</h2>

        {% if data.journey=="28daysjourney"%}
        CONTENT: 28 days
        {% else %}
        
        <p class="govuk-body">
          Download the following letter to tell
          {% if data.journey=="cas2application" %}
          Ryan
          {% elseif data.journey=="casNoPreference"%}
          Julian
          {% elseif data.journey=="cas1application" %}
          Lenny
          {% else %}
          George
          {% endif %}
          the outcome of the assessment.
 
          <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">
            <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
              <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z" />
            </svg>
            Home detention curfew: eligible
          </a>
          </p>

        </p>


        <p class="govuk-body" style="margin-top: 40px;">
          Download the following letters to ask
          {% if data.journey=="cas2application" %}
          Ryan
          {% elseif data.journey=="casNoPreference"%}
          Julian
          {% elseif data.journey=="cas1application" %}
          Lenny
          {% else %}
          George
          {% endif %}
          to provide details of where they could live if released.
 
          <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">
            <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
              <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z" />
            </svg>
            Home detention curfew: information about address checks
          </a>
          </p>

          <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="#">
            <svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
              <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z" />
            </svg>
            Home detention curfew: address form
          </a>
          </p>

        </p>

        {% endif %}


        
        <form action="/v4/eligibleoutcome" method="post" novalidate>

          {% if data.journey=="28daysjourney"%}
            <input type="hidden" name="eligiblepresumedsuitable" value="28days">
          {% else %}
            <input type="hidden" name="eligiblepresumedsuitable" value="yes">
            <input type="hidden" name="eligibility" value="complete">
          {% endif %}




        <div class="govuk-button-group" style="margin-top: 40px;">
          <button type="submit" class="govuk-button" data-module="govuk-button" name="confirmationnav" value="caselist">
            Return to case list
          </button>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="confirmationnav" value="overview">
            Return to application overview
          </button>
        </div>
        
        </form>


        <p class="govuk-body" style="margin-top: 50px; margin-bottom: -50px;">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
