{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-top-8">Check if area is suitable</h1>

     
      
    <!--card start-->
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Preferred area
    </h2>
  </div>
  
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Town or city
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.cityCASsuggestionC}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          County or borough
        </dt>
        <dd class="govuk-summary-list__value">
          {{data.countyCASsuggestionC}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional Information
        </dt>
        <dd class="govuk-summary-list__value">
          ???
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of accommodation
        </dt>
        <dd class="govuk-summary-list__value">
          Short-term accommodation (CAS-2)
        </dd>
      </div>
    </dl>
  </div>
  
  </div>
  <!--card end-->

  

    
                <!--START set dynamic radio hide/show text-->
                {% from "govuk/components/radios/macro.njk" import govukRadios %}
                {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
            
                {% set textHtmlOther %}
                
                {{ govukTextarea({
                  name: "victimConcerns",
                  id: "victimConcerns",
                  rows: "6",
                  label: {
                    text: "Give details of any concerns victims have about this person being released to this area."
                  }
                }) }}
      
                {% endset -%}
                <!--END set dynamic radio hide/show text-->
      
                {{ govukRadios({
                  name: "vlo",
                  fieldset: {
                    legend: {
                      text: "Is there a victim liaison officer (VLO) for this person?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  items: [
                  {
                    value: "vloYes",
                    text: "Yes",
                    conditional: {
                      html: textHtmlOther
                    }
                  },
                    {
                      value: "vloNo",
                      text: "No"
                    }
                    
                  ]
                }) }}


                <form class="form" action="/v3/suitabilitycheckc" method="post" novalidate>

                
                
                <div class="govuk-form-group govuk-!-margin-top-4">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      Is this area suitable for this person to live? 
                    </legend>
                    <div class="govuk-hint">
                      <p class="govuk-body" style="color: #505a5f">
                      For example, consider if:
                      <ul class="govuk-list govuk-list--bullet" style="margin-top: -14px; margin-bottom: 20px; color: #505a5f">
                        <li>they can be managed safely if they are released there</li>
                        <li>victims are nearby</li>
                        <li>the area is compatible with exclusion zones</li>
                      </ul>
                      </p>
                    </div>
                      <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="cas2suitableAreaC" name="cas2suitableAreaC" type="radio" value="yes">
                          <label class="govuk-label govuk-radios__label" for="cas2suitableAreaC">
                            Yes
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="cas2suitableAreaC-2" name="cas2suitableAreaC" type="radio" value="no">
                          <label class="govuk-label govuk-radios__label" for="cas2suitableAreaC-2">
                            No
                          </label>
                        </div>
                      </div>
                  </fieldset>
                </div>


                <div class="govuk-form-group">
                  <label class="govuk-label" for="more-detail"><strong>Add information to support your decision (optional)</strong></label>
                  <div class="govuk-hint">For example, include anything that needs to be put in place to help manage their risk if they are released there, such as treatment programmes.</div>
                  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
                </div>

                

                <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                  Save
                </button>
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Cancel
                </button>
                </div>

                </form>


      </div>
    </div>
  </main>
</div>

{% endblock %}
