{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-top-8">Assess this person’s risk</h1>

      <h2 class="govuk-heading-m govuk-!-margin-top-4">Risk management information</h2>

      {% if data.cas2suitable=="yes" %}
      <form class="form" action="../../case-overview" method="post" novalidate>
      {% else %}
      <form class="form" action="details" method="post" novalidate>
      {% endif %}
  

      
              <div class="govuk-form-group govuk-!-margin-top-6">
                <label class="govuk-label" for="moredetailPOM">
                  <strong>What information has the POM provided about the behaviour of George while in prison?</strong>
                </label>
                <div id="dob-hint" class="govuk-hint">
                  Find out if there are any concerns about them being released on HDC or if there have been any changes to their level of risk.
                </div>
                <textarea class="govuk-textarea" id="moredetailPOM" name="moredetailPOM" rows="5"></textarea>
              </div>


 

  <div class="govuk-form-group govuk-!-margin-top-8">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Does George need any mental health treatment to help manage risk?
      </legend>
      <div id="dob-hint" class="govuk-hint">
        If so, it should be considered as part of your risk management planning actions.
      </div>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="mentalHealth" name="mentalHealth" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="mentalHealth">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="mentalHealth-2" name="mentalHealth" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="mentalHealth-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>


<!--ONLY DISPLAY IF PREVIOUS ANSWER IS YES-->
  <div class="govuk-form-group govuk-!-margin-top-8">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        Have you consulted prison healthcare?
      </legend>
      <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="healthcare" name="healthcare" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="healthcare">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="healthcare-2" name="healthcare" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="healthcare-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>



                <!--START set dynamic radio hide/show text-->
                {% from "govuk/components/radios/macro.njk" import govukRadios %}
                {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
            
                {% set textHtmlOther %}
                
                {{ govukTextarea({
                  name: "victimConcerns",
                  id: "victimConcerns",
                  rows: "6",
                  label: {
                    text: "Give details of any concerns victims have about George being released to the proposed address or area."
                  }
                }) }}
      
                {% endset -%}
                <!--END set dynamic radio hide/show text-->
      
                {{ govukRadios({
                  name: "vlo",
                  fieldset: {
                    legend: {
                      text: "Is there a victim liaison officer (VLO) for this case?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  items: [
                  {
                    value: "vloYes",
                    text: "Yes",
                    conditional: {
                      html: textHtmlOther
                    }
                  },
                    {
                      value: "vloNo",
                      text: "No"
                    }
                    
                  ]
                }) }}



                              <!--START set dynamic radio hide/show text-->
                              {% from "govuk/components/radios/macro.njk" import govukRadios %}
                              {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
                          
                              {% set moreDetailledinfo %}
                              
                              {{ govukTextarea({
                                name: "cannotDiscloseDetails",
                                id: "cannotDiscloseDetails",
                                rows: "6",
                                label: {
                                  text: "Give details of information that cannot be disclosed"
                                }
                              }) }}
                    
                              {% endset -%}
                              <!--END set dynamic radio hide/show text-->
                    
                              {{ govukRadios({
                                name: "cannotDisclose",
                                fieldset: {
                                  legend: {
                                    text: "Is there any information that cannot be disclosed to George?",
                                    isPageHeading: false,
                                    classes: "govuk-fieldset__legend--s"
                                  }
                                },
                                items: [
                                {
                                  value: "cannotDiscloseYes",
                                  text: "Yes",
                                  conditional: {
                                    html: moreDetailledinfo
                                  }
                                },
                                  {
                                    value: "cannotDiscloseNo",
                                    text: "No"
                                  }
                                  
                                ]
                              }) }}



  <input type="hidden" name="riskAssessed" value="yes">

<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Save
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Cancel
  </button>
</div>

         </form>


      </div>
    </div>
  </main>
</div>

{% endblock %}
